@import "style.scss";


#bgvideo{
    display: none;
}
.overlay-contact-section{
    background-image: linear-gradient(to top,rgba(0, 0, 0, 0.3),rgba(0,0,0, 0.1)),url('https://s3.ap-south-1.amazonaws.com/appdev.konfinity.com/css/tasks/aboutUs_hero.jpeg');
    background-size: cover;
    height:20rem;
    padding:1rem 1rem;
}
h1{
    color: $white;
}
.overlay-contact-section{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.overlay-contact-section p{
    color:$white;
}
h3{
    font-family: BoldFont;
    font-size: 1.4rem;
    line-height: 1.7rem;
    margin-bottom: 1rem;
}
.heading2 p{
    font-size: 0.9rem;
    margin-bottom: 1rem;
}
.div2{
    height:31rem;
    margin-top: 1rem;
}
.data{
    padding-top: 3rem;
    background-color: black;

}
.info-wrap{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 1rem;
    p{
        margin-bottom: 1rem;
    }
   
}
.data h3{
    color: white;

}
.data p{
    color: white;
    font-size: 0.9rem;
}
.data button{
    background-color: $sky-blue;
    font-family: BoldFont;
    border:unset;
    width:15rem;
    border-radius: 0.5rem;
    text-indent: unset;
    margin-bottom: 1rem;

}


.datainfo{
    border:0.1rem solid $dark-grey;
    color:white;
    width:100%;
    padding:1.5rem 0rem;
    margin-bottom: 1rem;
    h2{
        color:white;
    }
    
}
.datainfo p{ 
    margin: 0rem;
    font-size: 0.8rem;
    font-family: BoldFont;
    color: $grey;

}

.div1 img{
    width:unset;
}
.heading2 .div1{
    display: flex;
    flex-direction: column;
    align-items: center;
}
@media only screen and (min-width:$breakpoint-tablet){
    .overlay-contact-section h1{
        padding:0rem;
        padding-bottom: 1rem;
    }
    .overlay-contact-section{
        background-size: 100% 25rem;
        height: 25rem;
    }
    .heading2{
        display: flex;
        justify-content: space-between;
    }
    .heading2 .div1{
    width:56%;
    align-items: flex-start;

    }
    .div2{
     width:45%;
        height:30rem;
        margin: unset;
        
        }
        .div1 h3{
            text-align: left;
        }
    .div1 img{
        width:15rem;
        height:5rem;

    }
    .heading2 p,.heading2 h2{
        text-align: left;
    }
    .heading2 p{
        font-size: 1rem;
    }

    .data button{
        margin-bottom: 1.5rem;;
    }
    .data p,.info-wrap h3{
        text-align: left;

    }
    .data p{
        font-size: 1rem;
    }
    .datainfo p{
    text-align: center;
    }
    .data-wrap{
        display: flex;
        flex-wrap: wrap;
        width: 100%;
        justify-content: space-between;
    }
    .data-wrap .datainfo{
        width:31.5%;
        margin-bottom: 1rem;;
        border-radius: 0.5rem;
    }
    .info-wrap{
        align-items:flex-start;
    }
}
@media only screen and (min-width:$breakpoint-desktop){
.video{
    height:39rem;
    width:100%;
    #bgvideo{
        display: block;
        position: absolute;
        height:39rem;
        width:100%;
        object-fit: cover;
        z-index: -1;
       
        

    }
}

    .overlay-contact-section{
        background-size: 100% ;
        height: 30rem;
        overflow: hidden;
        background-position: unset;
    }
    .overlay-contact-section h1{
        font-size: 3rem;;

    }
   
    .Need-help h2{
        font-size: 2rem;
    }
    .data button{
        width:auto;
      
    }
    .heading2 h3{
        font-size: 1.8rem;
        line-height: 2.5rem;
    }
    .heading2 p, .data p{
    margin-bottom:1rem;
    font-size: 1.2rem;;

    }
    .div1{
        width:50%;
       img{
           width:15rem;
           height:5rem;
       }
    }
    .div2{
        width:30%;
        height:30rem;
        width:20rem;

        margin-left: 10rem;;
    }
    .div2 div{
        width:60%;
    }
    .heading2{
        justify-content: unset;
    }
    .data{
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        background-color: unset;
        background: rgba(80, 79, 79, 0.5);
        padding:5rem 7rem;
        padding-top:6rem;
       

        h3{
            font-size: 1.8rem;
        }
    }
    .info-wrap{
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        align-items: flex-start;
        height: 21rem;
    }
    .data-wrap .datainfo{
       padding:4rem 0rem;
    }
    .datainfo h2{
        margin-bottom: 0.5rem;;
        text-align: center;
    }
    .data div{
        width:45%;
    }
    .datainfo p{
        margin-bottom: 0rem;
        margin-top: 1rem;
    }
   
   
   
}
