@import "style.scss";


.overlay-contact-section{
    background-image:url('https://s3.ap-south-1.amazonaws.com/appdev.konfinity.com/css/tasks/contactUs.png');
    background-repeat: no-repeat;
    background-position: center center;;
    height: 20rem;
    @include flex-column();
    justify-content: center;
    h1{
        margin-bottom: 1rem;
        color:$white;
    }
   h5{
    color:$white;
   }
}

iframe{
    width:100%;
    height:16rem;
}
p{
    font-size: 1rem;
}
.mapinfo{
    padding-top: 0rem;

    height: 10rem;
    @include flex-column();

    .icon{
        height:2.5rem;
        display: flex;
        flex-direction: row;
        justify-content: flex-start;
        align-items: center;
        i{
            font-size:1.8rem;
            color:$sky-blue;
            margin-right: 1.5rem;
        }
        .iconinfo{
            height:100%;
            @include flex-column();
            justify-content: space-between;
            align-items: flex-start;
        }
    }
}

.feedback{
    background-color: $background-blue-color;
    height:15.3rem;
    textarea{
        width:100%;
        font-size:0.8rem;
        font-family: Boldfont;
        color:$dark-grey;
        padding-top: 0.7rem;
        border:unset;
    }
    button{
        background-color:$sky-blue;
        font-family: BoldFont;
        float: right;
    }
    input,textarea{
        margin-bottom: 0.7rem;
        height:2.5rem;
        font-family: BoldFont;
        text-indent: 1rem;
    }
}


@media only screen and (min-width:$breakpoint-tablet){
    iframe{
        height:25rem;
    }

    .mapinfo{
        display: flex;
            flex-direction: row;
            justify-content: space-between;
            height:auto;
        .icon{
            i{
                margin-right: 0.7rem;;
            }
            .iconinfo{
                h4{
                    font-size: 1.1rem;
                }
            }
        }
    }

    .feedback{
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        height:auto;
        div{
            width:49%;
            
        }
        input{
            font-size: 1rem;
        }
        textarea{
            height:8.9rem;
            font-size:1rem;       
        };
        button{
            height:3rem;
        }
    }

footer{
    section{
        p{
            font-size: 1.15rem;
        }
    }
}
}


@media only screen and (min-width:$breakpoint-desktop){

    .overlay-contact-section{
        padding:0rem 7rem;
        h5{
            text-align: left;
            margin-top: 1rem;
        }
    }
    iframe{
        height:30rem;
    }
    .mapandfeedback{
        padding:0rem 7rem;
       
        display: flex;
        flex-direction: row;
        
        section{
            width:75%;
        }
        .feedback{
            height:15.5rem;
            padding:2rem 2rem;
            input{
                height:3.5rem;
            }
            textarea{
                height:11.8rem;
                padding-top: 0.9rem;
            }
        }
        .mapinfo{
            flex-direction: column;
            width:25%;
            padding:3rem 0rem;
            .icon{
                .iconinfo{
                    h4{
                        font-size: 1.4rem;
                    }
                }
            }
        }
    }
    footer{
        section{
            p{
                font-size: 1.5rem;
            }
        }
    }
}