@import "style.scss";

.overlay-section{
    background-image: linear-gradient(to right,rgba(22, 125, 221,1),rgba(22, 125, 221,0)),
    url("https://s3.ap-south-1.amazonaws.com/appdev.konfinity.com/css/tasks/dentist_hero_image.jpg");
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    padding:6rem 1rem;
    h1{
        color: $white;
        margin-bottom: 1rem;
    }
    h5{
        color: $white;

    }
    @include flex-column();
    justify-content: center;
}
p{
    font-size: 1rem;
}

.vaccination{
h2{
    margin-bottom: 1rem;
}

    .about-dentist-department{
        @include flex-column();
        justify-content: space-between;
        h4,p{
            text-align: left;
        }
        ul{
            @include flex-column();
            justify-content: space-between;
            height:6rem;
            li{
                font-size: 1rem;
                font-family: LightFont;
                color:$dark-blue-color;
            }
            li::before {
                content: "\2022";
                color:$sky-blue;
                font-weight: bold;
                display: inline-block; 
                width: 1rem;
              }
        }
    }
    .vaccination-image{
        height:18rem;
        margin-bottom: 1.5rem;
    }
    
}
.symbols{
   
    @include flex-column();
        justify-content: space-between;
    div{
        @include flex-column();
        justify-content: space-between;
        align-items: center;
        
        i{
            font-size: 1.5rem;
            padding:1rem;
            background-color: $background-blue-color;
            border-radius: 50%;
        }
        h5{
            font-family: BoldFont;
        }
    }
}

.serviceandschedule{
   @include flex-column();
   justify-content: space-between;
    div{
        border:0.1rem solid $light-grey;
        border-radius: 1rem;
        padding: 1.5rem 0rem;
        h5::before{
            display: inline-block;
            content: '';
            border-bottom: 0.18rem solid #167ddd;
            width: 1.5rem;
            transform: translateY(-0.3rem);
            margin-right: 0.2rem;
        }
        h5{
            font-family: BoldFont;
            text-align: left;
            margin-bottom: 0.5rem;
        }
        ul{
            padding:0rem 1.5rem;
            li{
                display: flex;
                flex-direction: row;
                justify-content: space-between;
                padding-top: 1rem;
                padding-bottom: 0.2rem;
                border-bottom: 0.1rem solid $light-grey;
                font-family: BoldFont;
                color:$dark-blue-color;
                span{
                    color:$grey;
                }
            }
        }
    }
}
.more-services{
    @include flex-column();
    background-color: $background-blue-color;
    align-items: center;
    h2{
        color: $white;
    }
    .headandicon{
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    .leftrighticon{
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        width:4.5rem;
        align-items: center;
        margin-top: 1rem;
        i{
            padding:0.5rem 0.8rem;
            border-radius: 50%;
            background-color: $white;
        }
    }
    .service{
        height:18rem;
        margin-top: 1rem;
        .service-image-wrapper{
            height:75%;
            width:100%;
            img{
                border-top-left-radius: 1rem;
                border-top-right-radius: 1rem;
            }

        }
        .service-heading{
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: flex-start;
            height:25%;
            background-color: $white;
            border-bottom-left-radius: 1rem;
            border-bottom-right-radius: 1rem;
            h3::before{
                display: inline-block;
                content: '';
                border-bottom: 0.18rem solid #167ddd;
                width: 1.5rem;
                transform: translateY(-0.3rem);
                margin-right: 1rem;
            }
        }
    }

}

@media only screen and (min-width:$breakpoint-tablet) {

    p{
        font-size: 1.1rem;
    }
    .vaccination{
        h2{
            text-align: left;
            margin-bottom: 2rem;
        }
        div{
            display: flex;
            flex-direction: row;
            justify-content: space-between;
            .vaccination-image{
                width:35%;
            }
            .about-dentist-department{
                width:60%;
                display: flex;
                flex-direction: column;
                align-items: flex-start;
            }
        }
        .about-dentist-department{
            ul{
                li{
                    font-size: 1.1rem;
                }
            }
        }
    }
    .symbols{
        flex-direction: row;
        height:auto;
        div{
            p{
                font-size: 0.9rem;
            }
        }
    }
    .serviceandschedule{
        flex-direction: row;
        height:auto;
        align-items: flex-start;
        div{
            width:48%;
            height:auto;
        }
    }
    .more-services{
        .headandicon{
            width:100%;
            display: flex;
            flex-direction: row;
            justify-content: space-between;
            .leftrighticon{
                margin-top: unset;
            }
        }
        .wrap-services{
            display: flex;
            flex-wrap: wrap;
            justify-content: space-between;
            .service{
                margin-top: 1.5rem;
            }
            div{
                width:32%;
                height:15rem;
                .service-heading{
                    width:100%;
                    text-align: left;
                    h3{
                        font-size: 1.2rem;
                    }
                    h3::before{
                        margin-right: 0.3rem;
                        width:1rem;
                    }
                }
            }
        }
    }
}
@media only screen and (min-width:$breakpoint-unknown){
    p{
        font-family: LightFont;
    }
    .overlay-section{
        background-position: unset;
        .container{
            padding:0rem 1rem;
        }
        h5{
            text-align: left;
            margin-top: 1rem;
        }
    }
    p{
        font-size: 1.3rem;
    }
    .vaccination{
        .about-dentist-department{
            ul{
                li{
                    font-size: 1.3rem;
                }
            }
        }
    }
    .more-services{
    .wrap-services{
        width:100%;
        .service{
            margin-top: 1rem;
            .service-heading{
                h3{
                    font-size: 1.4rem;
                }
                h3::before{
                    width:1.5rem;
                    margin-right: 1rem;
                }
            }
        }
    }
}
.vaccination-service-wrap{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    div{
        width:75%;
        section{
            width:100%;
            padding-right: 0rem;
            }
        .vaccination{
            .vaccination-image{
                height:20rem;
                width:45%;
            }
            div{
                width:100%;
            }
            .about-dentist-department{
                width:50%;
               
            }
        }
    }
    .serviceandschedule{
        width:26%;
        flex-direction: column;
        justify-content: unset;
        div{
            width:100%;
            margin-bottom: 1.5rem;
            ul{
                li{
                    font-size: 1.2rem;
                }
            }
        }
    }
}
h5{
    font-size: 1.3rem;
}
.symbols{
    padding-top: 0rem;
    div{
        width:30%;
        p{
            text-align: center;
            font-size: 1.15rem;
        }
        i{
            margin-bottom: 1rem;
        }
    }
}

}

