@font-face {
  font-family: "BoldFont";
  src: url("Nexa-Bold-1.otf");
}

@font-face {
  font-family: "LightFont";
  src: url("Nexa-Light.otf");
}

/* global tags */
* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}

section {
  padding: 1.5rem 1rem;
  text-align: center;
}

h1, h2, h3, h4, h5, h6 {
  font-family: BoldFont;
  color: #222844;
}

h1, h2 {
  font-size: 2rem;
  line-height: 2.4rem;
  margin-bottom: 0.625rem;
}

h3 {
  font-size: 1.6rem;
  line-height: 2rem;
  margin-bottom: 0.625rem;
}

h4 {
  font-size: 1.4rem;
  line-height: 1.8rem;
  margin-bottom: 0.625rem;
}

h5 {
  font-size: 1.2rem;
  line-height: 1.6rem;
  margin-bottom: 0.3125rem;
}

h6 {
  font-size: 1rem;
  line-height: 1.4rem;
  margin-bottom: 0.3125rem;
}

p {
  font-family: LightFont;
  font-size: 1.15rem;
  line-height: 1.4rem;
  color: #222844;
  margin-bottom: 0.625rem;
}

input, select {
  font-family: LightFont;
  padding: 0.8rem 0.75rem;
  font-size: 1.1rem;
  line-height: 1.4rem;
  width: 100%;
  color: #222844;
  border: none;
  outline: none;
  margin-bottom: 0.625rem;
}

textarea {
  font-family: LightFont;
  padding: 0.8rem 0.75rem;
  font-size: 1.1rem;
  line-height: 1.4rem;
  width: 100%;
  color: #a19f9f;
  margin-bottom: 0.625rem;
  border: 0.125rem solid #a19f9f;
  outline: none;
}

input::-webkit-input-placeholder {
  font-size: 0.9rem;
  color: #a19f9f;
}

input:-ms-input-placeholder {
  font-size: 0.9rem;
  color: #a19f9f;
}

input::-ms-input-placeholder {
  font-size: 0.9rem;
  color: #a19f9f;
}

input::placeholder {
  font-size: 0.9rem;
  color: #a19f9f;
}

input:focus, select:focus {
  outline: none;
}

textarea::-webkit-input-placeholder {
  font-size: 0.9rem;
  color: #a19f9f;
  font-family: BoldFont;
}

textarea:-ms-input-placeholder {
  font-size: 0.9rem;
  color: #a19f9f;
  font-family: BoldFont;
}

textarea::-ms-input-placeholder {
  font-size: 0.9rem;
  color: #a19f9f;
  font-family: BoldFont;
}

textarea::placeholder {
  font-size: 0.9rem;
  color: #a19f9f;
  font-family: BoldFont;
}

button {
  font-family: LightFont;
  font-size: 1rem;
  line-height: 1.4rem;
  border: none;
  border-radius: 0.5rem;
  padding: 0.5rem 1.5rem;
  outline: none;
  cursor: pointer;
}

.dark-blue-button {
  background: #222844;
  color: white;
  border: 0.125rem solid #222844;
}

.sky-blue-button {
  background: #167ddd;
  color: white;
  border: 0.125rem solid #167ddd;
}

.white-button {
  background: white;
  color: #222844;
  border: 0.125rem solid white;
}

.btn-search {
  background: var(--white);
  border: 0.125rem solid var(--light-grey);
  color: var(--grey);
}

span {
  font-family: BoldFont;
  color: #a19f9f;
  font-size: 1.2rem;
  margin-left: 0.3125rem;
}

ul li {
  font-size: 1.1rem;
  font-family: LightFont;
  color: #222844;
  line-height: 1.5rem;
  list-style-type: none;
}

label {
  font-family: LightFont;
  font-size: 1rem;
}

a {
  text-decoration: none;
}

@media only screen and (min-width: 768px) {
  section {
    padding: 2rem;
  }
  h1, h2 {
    font-size: 2rem;
    line-height: 2.4rem;
  }
  h3 {
    font-size: 1.6rem;
    line-height: 2rem;
  }
  h4 {
    font-size: 1.4rem;
    line-height: 1.8rem;
  }
  h5 {
    font-size: 1.2rem;
    line-height: 1.6rem;
  }
  h6 {
    font-size: 1rem;
    line-height: 1.4rem;
  }
  p {
    font-size: 1.1rem;
    line-height: 1.4rem;
  }
  span {
    font-size: 1.2rem;
  }
}

@media only screen and (min-width: 900px) {
  section {
    padding: 5rem 7rem;
    text-align: left;
  }
  h1, h2 {
    font-size: 2.8rem;
    line-height: 2.8rem;
    margin-bottom: 1rem;
  }
  h3 {
    font-size: 2rem;
    line-height: 2.4rem;
    margin-bottom: 1rem;
  }
  h4 {
    font-size: 1.8rem;
    line-height: 2.2rem;
    margin-bottom: 1rem;
  }
  h5 {
    font-size: 1.6rem;
    line-height: 2rem;
    margin-bottom: 0.5rem;
  }
  h6 {
    font-size: 1.4rem;
    line-height: 1.8rem;
    margin-bottom: 0.5rem;
  }
  p {
    font-family: BoldFont;
    font-size: 1.5rem;
    line-height: 1.8rem;
    margin-bottom: 2rem;
  }
  span {
    font-size: 1.6rem;
  }
  button {
    font-family: BoldFont;
    font-size: 1.2rem;
    line-height: 1.4rem;
    border: none;
    border-radius: 0.5rem;
    padding: 1rem 1.7rem;
  }
  input {
    font-size: 1.2rem;
    padding: 1.5rem 2rem;
  }
  input::-webkit-input-placeholder {
    font-size: 1.2rem;
  }
  input:-ms-input-placeholder {
    font-size: 1.2rem;
  }
  input::-ms-input-placeholder {
    font-size: 1.2rem;
  }
  input::placeholder {
    font-size: 1.2rem;
  }
  ul li {
    font-size: 1.2rem;
    line-height: 1.8rem;
  }
}

.navlist {
  width: 100%;
  height: 100%;
  overflow: unset;
  background: -webkit-gradient(linear, left top, right top, color-stop(60%, white), color-stop(0%, rgba(100, 100, 100, 0.3)));
  background: linear-gradient(to right, white 60%, rgba(100, 100, 100, 0.3) 0%);
  position: absolute;
  z-index: 5;
  right: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.navlist li {
  width: 50%;
  padding: 0.7rem 1rem;
  border-bottom: 0.08rem solid #cccccc;
  font-family: BoldFont;
  color: #222844;
  overflow: hidden;
}

.navlist li a {
  color: #222844;
}

#loginmsg {
  width: 15rem;
  height: 2.5rem;
  background-color: white;
  position: absolute;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  border-left: 0.3rem solid green;
  right: 0.5rem;
  top: 5rem;
  -webkit-animation: cssAnimation 5s forwards;
  animation: cssAnimation 3s forwards;
}

@keyframes cssAnimation {
  0% {
    opacity: 1;
  }
  90% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}

@-webkit-keyframes cssAnimation {
  0% {
    opacity: 1;
  }
  90% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}

#loginmsg i {
  font-size: 0.8rem;
  color: #666565;
}

#loginmsg #tick {
  padding: 0.5rem;
  border-radius: 50%;
  background-color: green;
  color: white;
}

#loginmsg ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  height: 2rem;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  width: 10rem;
}

#loginmsg ul li {
  font-size: 0.8rem;
  font-family: BoldFont;
  color: green;
}

#loginmsg ul li span {
  font-size: 1rem;
}

.mobileprofile {
  position: absolute;
  height: 10rem;
  width: 8rem;
  margin-top: 1rem;
  right: 1rem;
  background-color: white;
  padding: 0.5rem;
  z-index: 10;
}

.mobileprofile div {
  border-bottom: 0.08rem solid grey;
  padding-bottom: 0.1rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.mobileprofile div .picname {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  border: unset;
}

.mobileprofile div .picname .pic {
  width: 2rem;
  height: 2rem;
  margin-right: 0.3rem;
  border-radius: 100%;
  border: unset;
}

.mobileprofile div .picname .pic img {
  border-radius: 100%;
}

.mobileprofile div h5 {
  font-size: 0.8rem;
}

.mobileprofile ul li {
  color: #222844;
  padding: 0.3rem 0.2rem;
  border-bottom: 0.08rem solid grey;
  font-family: BoldFont;
  font-size: 0.8rem;
}

.nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.nav #loginm {
  right: 1rem;
  width: 3rem;
  height: 3rem;
  margin-right: 1rem;
}

.nav #loginm img {
  width: 100%;
  height: 100%;
  border-radius: 100%;
}

.IntroSection {
  background-color: #93bede;
}

.IntroSection form div {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-bottom: 0.5rem;
  background-color: white;
  padding: 0rem 0.75rem;
}

.IntroSection form div input {
  margin-bottom: 0rem;
}

.How-it-Works {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding-bottom: 1rem;
}

.How-it-Works .wrap-li {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.How-it-Works .wrap-li .tab-div {
  display: none;
}

.How-it-Works .wrap-li ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.How-it-Works .wrap-li ul .mobile-div {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  width: 100%;
  display: none;
}

.How-it-Works .wrap-li ul .mobile-div img {
  height: 25rem;
  margin-bottom: 1rem;
}

.How-it-Works .wrap-li ul .mobile-div h4 {
  font-size: 1.3rem;
}

.How-it-Works .wrap-li ul #para0 {
  display: block;
}

.How-it-Works .wrap-li ul li {
  padding: 1rem;
  border: 0.1rem solid #a19f9f;
  border-radius: 0.5rem;
  margin-bottom: 0.5rem;
}

.How-it-Works .wrap-li ul li h3 {
  text-align: left;
  color: #a19f9f;
  margin-bottom: 0rem;
  font-size: 1.4rem;
}

.How-it-Works .wrap-li ul li h3 span {
  font-size: 1.4rem;
  margin-right: 1rem;
}

.How-it-Works .wrap-li ul .active, .How-it-Works .wrap-li ul li:hover {
  border: 0.1rem solid #93bede;
  cursor: pointer;
}

.How-it-Works .wrap-li ul .active h3, .How-it-Works .wrap-li ul li:hover h3 {
  color: #222844;
}

.How-it-Works .wrap-li ul .active h3 span, .How-it-Works .wrap-li ul li:hover h3 span {
  color: #93bede;
}

.World-class-expert-doctors {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  background-color: #222844;
}

.World-class-expert-doctors h2, .World-class-expert-doctors p {
  color: white;
}

.World-class-expert-doctors .wrap-doctor-card {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.World-class-expert-doctors .wrap-doctor-card .doctorcard {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-pack: unset;
      -ms-flex-pack: unset;
          justify-content: unset;
  background-color: white;
  height: 29rem;
  margin-top: 0.5rem;
}

.World-class-expert-doctors .wrap-doctor-card .doctorcard .doctor-image {
  height: 73%;
}

.World-class-expert-doctors .wrap-doctor-card .doctorcard .about-doctor {
  height: 27%;
  padding: 0.5rem 0rem;
}

.World-class-expert-doctors .wrap-doctor-card .doctorcard .about-doctor ul {
  height: 100%;
  text-align: left;
}

.World-class-expert-doctors .wrap-doctor-card .doctorcard .about-doctor ul h4 {
  color: #167ddd;
  margin-bottom: 0rem;
}

.World-class-expert-doctors .wrap-doctor-card .doctorcard .about-doctor ul h4::before {
  display: inline-block;
  content: '';
  border-bottom: 0.18rem solid #167ddd;
  width: 2rem;
  -webkit-transform: translateY(-0.3rem);
          transform: translateY(-0.3rem);
  margin-right: 0.2rem;
}

.World-class-expert-doctors .wrap-doctor-card .doctorcard .about-doctor ul li {
  margin-left: 2.2rem;
}

.featured-medical-treatment {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.featured-medical-treatment .wrap-featured-medical-treatment {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.featured-medical-treatment .wrap-featured-medical-treatment .image-gradient {
  height: 20rem;
  background-size: cover;
  background-position: center center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  margin-bottom: 0.5rem;
}

.featured-medical-treatment .wrap-featured-medical-treatment .image-gradient .lowerdiv {
  height: 17%;
  background-image: -webkit-gradient(linear, left top, left bottom, from(rgba(19, 18, 18, 0.9)), to(rgba(19, 18, 18, 0.9)));
  background-image: linear-gradient(to bottom, rgba(19, 18, 18, 0.9), rgba(19, 18, 18, 0.9));
  padding: 0rem 0rem 0.5rem 0.7rem;
}

.featured-medical-treatment .wrap-featured-medical-treatment .image-gradient .lowerdiv h4, .featured-medical-treatment .wrap-featured-medical-treatment .image-gradient .lowerdiv h6 {
  color: white;
  text-align: left;
  margin-bottom: 0rem;
}

.featured-medical-treatment .wrap-featured-medical-treatment .image-gradient .lowerdiv h6 {
  margin-bottom: 0rem;
}

.featured-medical-treatment .wrap-featured-medical-treatment .image-gradient .upperdiv {
  height: 35%;
  background-image: -webkit-gradient(linear, left bottom, left top, from(rgba(19, 18, 18, 0.9)), to(rgba(19, 18, 18, 0)));
  background-image: linear-gradient(to top, rgba(19, 18, 18, 0.9), rgba(19, 18, 18, 0));
}

.exclusive-services {
  background-color: #f0f0f5;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.exclusive-services .Exclusive-services-wrap {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -ms-flex-line-pack: justify;
      align-content: space-between;
}

.exclusive-services .Exclusive-services-wrap div {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 48.5%;
  height: 8rem;
  background-color: white;
  border-radius: 1rem;
  margin-top: 0.7rem;
}

.exclusive-services .Exclusive-services-wrap div img {
  width: 5rem;
  height: 5rem;
}

.exclusive-services .Exclusive-services-wrap div h6 {
  color: #666565;
  margin-bottom: 0rem;
}

.need-help {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background-color: #93bede;
}

.need-help div {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.need-help div h2 {
  color: white;
}

.nav-mobile {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 4rem;
  padding: 0rem 1rem;
}

.nav-mobile img {
  width: 7rem;
  height: 1.5rem;
  cursor: pointer;
}

.nav-mobile i {
  font-size: inherit;
}

.mobile-footer {
  background-color: #222844;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.mobile-footer img {
  height: 2rem;
  width: 9rem;
}

.mobile-footer ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin: 0.7rem 0rem;
  margin-bottom: 0rem;
}

.mobile-footer ul li {
  color: white;
  font-family: BoldFont;
  margin-top: 0.7rem;
}

.mobile-footer ul li i {
  display: inline;
  padding: 0rem 1rem;
}

.mobile-footer ul #copyright i {
  padding: 0rem 0.2rem;
}

.tab-footer {
  display: none;
}

.nav-desktop {
  display: none;
}

.carousel-circle {
  display: none;
}

@media only screen and (min-width: 768px) {
  #loginmsg {
    width: 25rem;
    height: 4.3rem;
    background-color: white;
    position: absolute;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -ms-flex-pack: distribute;
        justify-content: space-around;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    border-left: 0.3rem solid green;
    right: 1rem;
    top: 5rem;
    -webkit-animation: cssAnimation 5s forwards;
    animation: cssAnimation 3s forwards;
  }
  @keyframes cssAnimation {
    0% {
      opacity: 1;
    }
    90% {
      opacity: 1;
    }
    100% {
      opacity: 0;
    }
  }
  @-webkit-keyframes cssAnimation {
    0% {
      opacity: 1;
    }
    90% {
      opacity: 1;
    }
    100% {
      opacity: 0;
    }
  }
  #loginmsg i {
    font-size: 1.1rem;
    color: #666565;
  }
  #loginmsg #tick {
    padding: 0.7rem;
    border-radius: 50%;
    background-color: green;
    color: white;
  }
  #loginmsg ul {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    height: 2.5rem;
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: flex-start;
    width: 15rem;
  }
  #loginmsg ul li {
    font-size: 0.8rem;
    font-family: BoldFont;
    color: green;
  }
  #loginmsg ul li span {
    font-size: 1.3rem;
  }
  .IntroSection .locationform {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
  }
  .IntroSection .locationform input {
    margin-bottom: 0rem;
  }
  .IntroSection .locationform div {
    width: 20rem;
    border-right: 0.2rem solid #93bede;
    margin-bottom: 0rem;
  }
  .IntroSection .locationform button {
    border-radius: 0;
  }
  .nav-mobile {
    height: 4rem;
    padding: 0rem 2rem;
  }
  .nav-mobile img {
    width: 8rem;
    height: 1.5rem;
  }
  .nav-mobile i {
    font-size: 1rem;
  }
  .How-it-Works .wrap-li {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    margin-top: 0.5rem;
  }
  .How-it-Works .wrap-li div {
    width: 49%;
  }
  .How-it-Works .wrap-li ul li {
    padding: 1rem 1.1rem;
  }
  .How-it-Works .wrap-li ul .mobile-div {
    display: none;
  }
  .How-it-Works .wrap-li .tab-div {
    width: 48%;
    display: block;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
  }
  .How-it-Works .wrap-li .tab-div div {
    width: 100%;
    height: 22rem;
    margin-bottom: 1rem;
  }
  .How-it-Works .wrap-li .tab-div h4 {
    margin-bottom: 1rem;
    font-size: 1.3rem;
  }
  .World-class-expert-doctors .wrap-doctor-card {
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -ms-flex-line-pack: justify;
        align-content: space-between;
  }
  .World-class-expert-doctors .wrap-doctor-card .doctorcard {
    width: 48.5%;
    height: 32rem;
    margin-top: 1rem;
  }
  .World-class-expert-doctors .wrap-doctor-card .doctorcard .about-doctor {
    padding: 1rem 0rem;
  }
  .World-class-expert-doctors .wrap-doctor-card .doctorcard .about-doctor ul li {
    font-size: 1.1rem;
  }
  .World-class-expert-doctors .wrap-doctor-card .doctorcard .about-doctor ul h4::before {
    border-bottom: 0.15rem solid #167ddd;
  }
  .featured-medical-treatment .wrap-featured-medical-treatment {
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -ms-flex-line-pack: justify;
        align-content: space-between;
  }
  .featured-medical-treatment .wrap-featured-medical-treatment .image-gradient {
    width: 48.5%;
    height: 23rem;
    margin-top: 1rem;
  }
  .featured-medical-treatment .wrap-featured-medical-treatment .image-gradient .upperdiv {
    width: 100%;
  }
  .featured-medical-treatment .wrap-featured-medical-treatment .image-gradient .lowerdiv {
    padding: 0rem 0rem 0.7rem 0.7rem;
    height: 15%;
  }
  .exclusive-services .Exclusive-services-wrap div {
    width: 31.7%;
    height: 10rem;
  }
  .exclusive-services .Exclusive-services-wrap div img {
    width: 5rem;
    height: 5rem;
  }
  .mobile-footer {
    display: none;
  }
  .tab-footer {
    border-bottom: 0.7rem solid #167ddd;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
  }
  .tab-footer .footer-div-1 {
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: flex-start;
    width: 68%;
  }
  .tab-footer .footer-div-1 ul {
    margin-top: 0.3rem;
  }
  .tab-footer .footer-div-1 ul li {
    -webkit-box-flex: unset;
        -ms-flex: unset;
            flex: unset;
    font-size: 1.15rem;
  }
  .tab-footer .footer-div-2 {
    -webkit-box-align: end;
        -ms-flex-align: end;
            align-items: flex-end;
    width: 20%;
  }
  .tab-footer .footer-div-2 ul {
    margin-top: 1.5rem;
    margin-bottom: 0rem;
  }
  .tab-footer .footer-div-2 ul li {
    width: 100%;
  }
  .tab-footer div {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
  }
  .tab-footer div img {
    width: 8rem;
    height: 1.5rem;
  }
  .tab-footer div p {
    font-weight: bold;
    margin-bottom: 0rem;
  }
  .tab-footer div ul {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    width: 100%;
    margin-bottom: 1.5rem;
  }
  .tab-footer div ul li {
    font-size: 1.15rem;
    font-family: LightFont;
    color: #222844;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    font-weight: bold;
  }
  .tab-footer div ul li i {
    display: inline;
    font-size: 1.2rem;
    color: #222844;
  }
}

#userprofile {
  display: none;
}

@media only screen and (min-width: 900px) {
  #loginmsg {
    top: 9rem;
    right: 1rem;
    width: 25rem;
    height: 4.5rem;
    background-color: white;
    position: absolute;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -ms-flex-pack: distribute;
        justify-content: space-around;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    border-left: 0.3rem solid green;
    -webkit-animation: cssAnimation 5s forwards;
    animation: cssAnimation 3s forwards;
  }
  @keyframes cssAnimation {
    0% {
      opacity: 1;
    }
    90% {
      opacity: 1;
    }
    100% {
      opacity: 0;
    }
  }
  @-webkit-keyframes cssAnimation {
    0% {
      opacity: 1;
    }
    90% {
      opacity: 1;
    }
    100% {
      opacity: 0;
    }
  }
  #loginmsg i {
    font-size: 1.3rem;
    color: #666565;
  }
  #loginmsg #tick {
    padding: 0.5rem;
    border-radius: 50%;
    background-color: green;
    color: white;
  }
  #loginmsg ul {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    height: 2.5rem;
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: flex-start;
    width: 15rem;
  }
  #loginmsg ul li {
    font-size: 0.8rem;
    font-family: BoldFont;
    color: green;
  }
  #loginmsg ul li span {
    font-size: 1.3rem;
  }
  #userprofile {
    position: absolute;
    width: 20rem;
    background-color: white;
    top: 7rem;
    right: 1rem;
    -webkit-box-shadow: 0 0 20px -2px rgba(0, 0, 0, 0.6);
            box-shadow: 0 0 20px -2px rgba(0, 0, 0, 0.6);
    z-index: 10;
  }
  #userprofile .profilenav {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-box-pack: unset;
        -ms-flex-pack: unset;
            justify-content: unset;
    border-bottom: 0.1rem solid #a19f9f;
    padding: 0rem 1.5rem;
  }
  #userprofile .profilenav .pic {
    width: 3.5rem;
    height: 3.5rem;
    margin-right: 1rem;
  }
  #userprofile .profilenav .pic img {
    width: 100%;
    height: 100%;
    -o-object-fit: cover;
       object-fit: cover;
  }
  #userprofile div {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  #userprofile h4 {
    color: #167ddd;
    margin: 1rem 0rem;
  }
  #userprofile h6 {
    margin-bottom: 1rem;
    font-size: 1.2rem;
  }
  #userprofile ul {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    width: 100%;
  }
  #userprofile ul li {
    padding: 1rem 1.3rem;
    font-family: Boldfont;
    width: 100%;
    margin: 0rem;
  }
  #userprofile ul li:hover {
    border-left: 0.5rem solid #167ddd;
  }
  .nav-desktop {
    padding: 2rem 7rem;
    display: block;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .nav-desktop img {
    width: 12rem;
    height: 3rem;
    cursor: pointer;
  }
  .nav-desktop ul {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
  }
  .nav-desktop ul li {
    font-size: 1.4rem;
    color: #222844;
    font-family: BoldFont;
    font-weight: bold;
    margin: 0rem 1.5rem;
  }
  .nav-desktop div {
    height: auto;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
  }
  .nav-desktop div div {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -ms-flex-pack: distribute;
        justify-content: space-around;
  }
  .nav-desktop div div i {
    font-size: 1.5rem;
    color: #222844;
    cursor: pointer;
  }
  .nav-desktop button {
    margin-left: 0.5rem;
  }
  .nav-mobile {
    display: none;
  }
  .IntroSection {
    background-image: url("https://s3.ap-south-1.amazonaws.com/appdev.konfinity.com/css/tasks/img1.jpg");
    background-size: cover;
    background-position: center center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    padding: 8rem 7rem;
  }
  .IntroSection h1 {
    margin-bottom: 2rem;
  }
  .IntroSection p {
    margin-bottom: 3rem;
  }
  .IntroSection h1, .IntroSection p {
    width: 50%;
  }
  .IntroSection .locationform {
    width: 70%;
  }
  .IntroSection .locationform div {
    width: 35rem;
  }
  .IntroSection .locationform div i {
    font-size: 1.5rem;
  }
  .How-it-Works {
    padding-bottom: 5rem;
  }
  .How-it-Works p {
    margin-bottom: 2.5rem;
  }
  .How-it-Works .wrap-li .tab-div {
    width: 50%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  .How-it-Works .wrap-li .tab-div p {
    text-align: center;
    width: 75%;
    margin-bottom: 0.5rem;
    margin-right: 0rem;
    margin-left: 5rem;
  }
  .How-it-Works .wrap-li .tab-div div {
    height: 45rem;
    width: 45rem;
    margin: 1.5rem auto;
    margin-top: 3rem;
  }
  .How-it-Works .wrap-li .tab-div h4 {
    margin-bottom: 1.5rem;
    font-size: 2rem;
    text-align: center;
  }
  .How-it-Works .wrap-li div {
    width: 40%;
  }
  .How-it-Works .wrap-li div ul {
    height: 100%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
  }
  .How-it-Works .wrap-li div ul li {
    padding: 3rem;
  }
  .How-it-Works .wrap-li div ul li h3 {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    font-size: 2rem;
  }
  .How-it-Works .wrap-li div ul li span {
    font-size: 2rem;
    margin-right: 2rem;
  }
  .How-it-Works .wrap-li div ul .active, .How-it-Works .wrap-li div ul li:hover {
    border: 0.18rem solid #93bede;
  }
  .World-class-expert-doctors p {
    margin-bottom: 2rem;
  }
  .World-class-expert-doctors .carousel-circle {
    display: block;
    margin-top: 5rem;
  }
  .World-class-expert-doctors .carousel-circle .dot {
    height: 1rem;
    width: 1rem;
    margin: 0 2px;
    background-color: #f0f0f5;
    border-radius: 50%;
    display: inline-block;
    border: 0.2rem solid #222844;
  }
  .World-class-expert-doctors .carousel-circle .activecarousel, .World-class-expert-doctors .carousel-circle .dot:hover {
    background-color: #222844;
    border: 0.2rem solid #167ddd;
  }
  .World-class-expert-doctors .wrap-doctor-card {
    height: auto;
    -webkit-animation: mymove 3s;
            animation: mymove 3s;
  }
  @-webkit-keyframes mymove {
    from {
      opacity: 0;
    }
    to {
      opacity: 1;
    }
  }
  @keyframes mymove {
    from {
      opacity: 0;
    }
    to {
      opacity: 1;
    }
  }
  .World-class-expert-doctors .wrap-doctor-card .doctorcard {
    width: 24.5%;
    height: 38rem;
  }
  .World-class-expert-doctors .wrap-doctor-card .doctorcard .about-doctor ul h4 {
    padding: 0.5rem 0rem;
    margin-bottom: 0rem;
  }
  .World-class-expert-doctors .wrap-doctor-card .doctorcard .about-doctor ul h4::before {
    -webkit-transform: translateY(-0.4rem);
            transform: translateY(-0.4rem);
    border-bottom: 0.2rem solid #167ddd;
  }
  .World-class-expert-doctors .wrap-doctor-card .doctorcard .about-doctor ul li {
    font-weight: bold;
    color: #222844;
    font-size: 1.1rem;
  }
  .featured-medical-treatment p {
    margin-bottom: 2rem;
  }
  .featured-medical-treatment .carousel-circle {
    display: block;
    margin-top: 5rem;
  }
  .featured-medical-treatment .carousel-circle .dot {
    height: 1rem;
    width: 1rem;
    margin: 0 2px;
    background-color: #dbd8d8;
    border-radius: 50%;
    display: inline-block;
    border: 0.2rem solid white;
  }
  .featured-medical-treatment .carousel-circle .activecarousel, .featured-medical-treatment .carousel-circle .dot:hover {
    background-color: white;
    border: 0.2rem solid #167ddd;
  }
  .featured-medical-treatment .wrap-featured-medical-treatment {
    display: -ms-grid;
    display: grid;
    grid-gap: 1rem;
    -ms-grid-columns: 1fr 1fr 1fr;
        grid-template-columns: 1fr 1fr 1fr;
    -ms-grid-rows: 20rem 8rem 5rem 30rem;
        grid-template-rows: 20rem 8rem 5rem 30rem;
  }
  .featured-medical-treatment .wrap-featured-medical-treatment .image-gradient {
    height: 100%;
    width: 100%;
  }
  .featured-medical-treatment .wrap-featured-medical-treatment .image-gradient .lowerdiv {
    padding-left: 1rem;
    height: 5rem;
  }
  .featured-medical-treatment .wrap-featured-medical-treatment .image-gradient .lowerdiv p {
    font-size: 1.1rem;
  }
  .featured-medical-treatment .wrap-featured-medical-treatment #box1 {
    -ms-grid-column: 1;
    -ms-grid-column-span: 1;
    grid-column: 1/2;
    -ms-grid-row: 1;
    -ms-grid-row-span: 1;
    grid-row: 1/2;
  }
  .featured-medical-treatment .wrap-featured-medical-treatment #box2 {
    -ms-grid-column: 2;
    -ms-grid-column-span: 1;
    grid-column: 2/3;
    -ms-grid-row: 1;
    -ms-grid-row-span: 3;
    grid-row: 1/4;
  }
  .featured-medical-treatment .wrap-featured-medical-treatment #box3 {
    -ms-grid-column: 3;
    -ms-grid-column-span: 1;
    grid-column: 3/4;
    -ms-grid-row: 1;
    -ms-grid-row-span: 2;
    grid-row: 1/3;
  }
  .featured-medical-treatment .wrap-featured-medical-treatment #box4 {
    -ms-grid-column: 1;
    -ms-grid-column-span: 1;
    grid-column: 1/2;
    -ms-grid-row: 2;
    -ms-grid-row-span: 3;
    grid-row: 2/5;
  }
  .featured-medical-treatment .wrap-featured-medical-treatment #box5 {
    -ms-grid-column: 2;
    -ms-grid-column-span: 1;
    grid-column: 2/3;
    -ms-grid-row: 4;
    -ms-grid-row-span: 1;
    grid-row: 4/5;
  }
  .featured-medical-treatment .wrap-featured-medical-treatment #box6 {
    -ms-grid-column: 3;
    -ms-grid-column-span: 1;
    grid-column: 3/4;
    -ms-grid-row: 3;
    -ms-grid-row-span: 2;
    grid-row: 3/5;
  }
  .exclusive-services p {
    margin-bottom: 2rem;
  }
  .exclusive-services .Exclusive-services-wrap {
    height: auto;
  }
  .exclusive-services .Exclusive-services-wrap div {
    width: 16%;
    height: 16rem;
  }
  .exclusive-services .Exclusive-services-wrap div img {
    width: 7rem;
    height: 7rem;
  }
  .need-help {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
  }
  .need-help div {
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: flex-start;
  }
  .need-help p {
    margin-bottom: 0rem;
  }
  .tab-footer .footer-div-1 {
    width: 45%;
  }
  .tab-footer .footer-div-1 ul {
    margin-top: 1rem;
    margin-bottom: 2rem;
  }
  .tab-footer .footer-div-1 ul li {
    font-size: 1.5rem;
  }
  .tab-footer .footer-div-2 {
    width: 14%;
  }
  .tab-footer .footer-div-2 i {
    font-size: 1.6rem;
  }
  .tab-footer .footer-div-2 img {
    height: 3.5rem;
    width: 14rem;
  }
  .tab-footer .footer-div-2 ul {
    margin-top: 2rem;
  }
  .navlist {
    display: none;
  }
}

.overlay-section {
  background-image: -webkit-gradient(linear, left top, right top, from(#167ddd), to(rgba(22, 125, 221, 0))), url("https://s3.ap-south-1.amazonaws.com/appdev.konfinity.com/css/tasks/dentist_hero_image.jpg");
  background-image: linear-gradient(to right, #167ddd, rgba(22, 125, 221, 0)), url("https://s3.ap-south-1.amazonaws.com/appdev.konfinity.com/css/tasks/dentist_hero_image.jpg");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  height: 16rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.overlay-section h1 {
  color: white;
  margin-bottom: 1rem;
}

.overlay-section h5 {
  color: white;
}

p {
  font-size: 1rem;
}

.vaccination h2 {
  margin-bottom: 1rem;
}

.vaccination .about-dentist-department {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  justify-content: space-between;
  height: 18rem;
}

.vaccination .about-dentist-department h4, .vaccination .about-dentist-department p {
  text-align: left;
}

.vaccination .about-dentist-department ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  justify-content: space-between;
  height: 6rem;
}

.vaccination .about-dentist-department ul li {
  font-size: 1rem;
  font-family: LightFont;
  color: #222844;
}

.vaccination .about-dentist-department ul li::before {
  content: "\2022";
  color: #167ddd;
  font-weight: bold;
  display: inline-block;
  width: 1rem;
}

.vaccination .vaccination-image {
  height: 18rem;
  margin-bottom: 1.5rem;
}

.symbols {
  height: 34rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  justify-content: space-between;
}

.symbols div {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 10rem;
}

.symbols div i {
  font-size: 1.5rem;
  padding: 1rem;
  background-color: #93bede;
  border-radius: 50%;
}

.symbols div h5 {
  font-family: BoldFont;
}

.serviceandschedule {
  height: 24rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  justify-content: space-between;
}

.serviceandschedule div {
  border: 0.1rem solid #dbd8d8;
  border-radius: 1rem;
  padding: 1.5rem 0rem;
}

.serviceandschedule div h5::before {
  display: inline-block;
  content: '';
  border-bottom: 0.18rem solid #167ddd;
  width: 1.5rem;
  -webkit-transform: translateY(-0.3rem);
          transform: translateY(-0.3rem);
  margin-right: 0.2rem;
}

.serviceandschedule div h5 {
  font-family: BoldFont;
  text-align: left;
  margin-bottom: 0.5rem;
}

.serviceandschedule div ul {
  padding: 0rem 1.5rem;
}

.serviceandschedule div ul li {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding-top: 1rem;
  padding-bottom: 0.2rem;
  border-bottom: 0.1rem solid #dbd8d8;
  font-family: BoldFont;
  color: #222844;
}

.serviceandschedule div ul li span {
  color: #a19f9f;
}

.more-services {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  background-color: #93bede;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.more-services h2 {
  color: white;
}

.more-services .headandicon {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.more-services .leftrighticon {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  width: 4.5rem;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-top: 1rem;
}

.more-services .leftrighticon i {
  padding: 0.5rem 0.8rem;
  border-radius: 50%;
  background-color: white;
}

.more-services .service {
  height: 18rem;
  margin-top: 1rem;
}

.more-services .service .service-image-wrapper {
  height: 75%;
  width: 100%;
}

.more-services .service .service-image-wrapper img {
  border-top-left-radius: 1rem;
  border-top-right-radius: 1rem;
}

.more-services .service .service-heading {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  height: 25%;
  background-color: white;
  border-bottom-left-radius: 1rem;
  border-bottom-right-radius: 1rem;
}

.more-services .service .service-heading h3::before {
  display: inline-block;
  content: '';
  border-bottom: 0.18rem solid #167ddd;
  width: 1.5rem;
  -webkit-transform: translateY(-0.3rem);
          transform: translateY(-0.3rem);
  margin-right: 1rem;
}

@media only screen and (min-width: 768px) {
  p {
    font-size: 1.1rem;
  }
  .vaccination {
    height: 22rem;
  }
  .vaccination h2 {
    text-align: left;
    margin-bottom: 2rem;
  }
  .vaccination div {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
  }
  .vaccination div .vaccination-image {
    width: 35%;
  }
  .vaccination div .about-dentist-department {
    width: 60%;
  }
  .vaccination .about-dentist-department ul li {
    font-size: 1.1rem;
  }
  .symbols {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    height: auto;
  }
  .symbols div {
    height: 11rem;
  }
  .symbols div p {
    font-size: 0.9rem;
  }
  .serviceandschedule {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    height: auto;
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: flex-start;
  }
  .serviceandschedule div {
    width: 48%;
    height: auto;
  }
  .more-services .headandicon {
    width: 100%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
  }
  .more-services .headandicon .leftrighticon {
    margin-top: unset;
  }
  .more-services .wrap-services {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
  }
  .more-services .wrap-services .service {
    margin-top: 1.5rem;
  }
  .more-services .wrap-services div {
    width: 32%;
    height: 15rem;
  }
  .more-services .wrap-services div .service-heading {
    width: 100%;
    text-align: left;
  }
  .more-services .wrap-services div .service-heading h3 {
    font-size: 1.2rem;
  }
  .more-services .wrap-services div .service-heading h3::before {
    margin-right: 0.3rem;
    width: 1rem;
  }
}

@media only screen and (min-width: 900px) {
  .overlay-section {
    padding-left: 7rem;
    background-position: unset;
    height: 20rem;
  }
  .overlay-section h5 {
    text-align: left;
    margin-top: 1rem;
  }
  p {
    font-size: 1.3rem;
  }
  .vaccination .about-dentist-department ul {
    height: 8rem;
  }
  .vaccination .about-dentist-department ul li {
    font-size: 1.3rem;
  }
  .more-services .wrap-services {
    width: 100%;
  }
  .more-services .wrap-services .service {
    height: 20rem;
    margin-top: 4rem;
  }
  .more-services .wrap-services .service .service-heading h3 {
    font-size: 1.4rem;
  }
  .more-services .wrap-services .service .service-heading h3::before {
    width: 1.5rem;
    margin-right: 1rem;
  }
  .vaccination-service-wrap {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
  }
  .vaccination-service-wrap div {
    width: 60%;
  }
  .vaccination-service-wrap div section {
    width: 100%;
    padding-right: 0rem;
  }
  .vaccination-service-wrap div .vaccination {
    height: 25rem;
  }
  .vaccination-service-wrap div .vaccination .vaccination-image {
    width: 45%;
  }
  .vaccination-service-wrap div .vaccination div {
    width: 100%;
    height: 100%;
  }
  .vaccination-service-wrap div .vaccination .about-dentist-department {
    width: 50%;
  }
  .vaccination-service-wrap .serviceandschedule {
    width: 26%;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: unset;
        -ms-flex-pack: unset;
            justify-content: unset;
  }
  .vaccination-service-wrap .serviceandschedule div {
    width: 100%;
    margin-bottom: 1.5rem;
  }
  .vaccination-service-wrap .serviceandschedule div ul li {
    font-size: 1.2rem;
  }
  h5 {
    font-size: 1.3rem;
  }
  .symbols div {
    width: 30%;
    height: 13rem;
  }
  .symbols div p {
    text-align: center;
    font-size: 1.15rem;
  }
  footer section p {
    font-size: 1.5rem;
  }
}
/*# sourceMappingURL=dentistry.css.map */