@import "style.scss";




.profilecard{
    border:0.1rem solid $grey;
   
}

.doctorimage{
    padding:0.5rem;
    height: 30rem;
    img{
        height:26rem;
    }
}
.doctor-info{
    padding:1rem 0.5rem;
}
.profilecard button{
    margin-bottom:0rem;
    margin-top:0.5rem;
    width:100%;
    font-family: BoldFont;
    text-indent: unset;
    padding:0rem 1rem;
}
.profilecard h3{
    color: $sky-blue;
    font-size: 1.7rem;
    text-align: left;
    
}
.profilecard h3::before{
    display: inline-block;
    content: '';
    border-bottom: 0.2rem solid $sky-blue;
    width:2rem;
    transform: translateY(-0.4rem);
    margin-right: 0.5rem;
}

.doctor-info p{
    font-size: 1rem;
    margin:0rem;
    padding:1rem 0rem;
    border-bottom: 0.1rem solid $grey;
    border-style: dashed;

}
.info{
    padding-top: 1rem;
    height:auto;
}
.doctor-info ul li{
    font-size:1.4rem;
    color:$sky-blue;
    font-family:BoldFont;
    border-bottom: 0.1rem solid $grey;
    border-style: dashed;
    padding:1rem 0rem;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    cursor: pointer;
}
.doctor-info ul p{
    background-color: $light-blue;
    padding:0.5rem 0.5rem;
    text-align: left;
    border-bottom: unset;
    display: none;
}
.doctor-info li i{
    margin-right: 1rem;
}
.doctor-info span {
  
    font-size: 0.8rem;
    padding:0.3rem 0.3rem;
    padding-bottom:0.1rem;
    border:0.1rem solid $light-blue;
    border-radius: 100%;
    background-color: $light-blue;
}
.doctor-info span i{
    margin-right: 0rem;

}

@media only screen and (min-width:$breakpoint-tablet){

.profilecard{
display: flex;
flex-direction: row-reverse;
justify-content: space-between;
}
.doctor-info {
    padding: 0rem 1rem;
}
.info{
    padding:1rem 0rem;
    width:63%;
}
.doctorimage{
    width:35%;
    padding-top:1rem;
    padding-right:1rem;
    img{
        height: 18rem;
    }
}
.doctor-info p{
    text-align: left;
    padding:1.5rem 0rem;
    line-height: 1.6rem;
    font-size: 1.1rem;
}
.doctor-info ul li{
    padding:1.5rem 0rem;
}
.profilecard h3{
    font-size: 2rem;
}
}
@media only screen and (min-width:$breakpoint-desktop){
    .info{
        padding:2rem 0rem;
        width:70%;
    }
    .doctorimage{
        width:25%;
        height:25%;
        padding-top:2rem;
        padding-right:2rem;

    }
    .profilecard img{
        height:25rem;
    }
    .doctor-info {
        padding: 0rem 2rem;
    }
    .profilecard h3{
        font-size: 2.5rem;
    }
  
    .doctor-info ul li{
        font-size: 1.6rem;
    }
    .doctor-info p{
        font-size: 1.2rem;
        font-weight: normal;
        line-height: 2rem;
    }
}