@import "colors.scss";

.overlay-section{
    background-image:linear-gradient(to bottom,rgba(147, 190, 222,0.8),rgba(147, 190, 222,0.8)), url("https://s3.ap-south-1.amazonaws.com/appdev.konfinity.com/css/tasks/Doctors.png");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
    padding:5rem 0rem;
    h1{
        font-family: LightFont;
        font-weight: 400;
        span{
            font-size: 2rem;
            font-family: BoldFont;
            color: $black;
            border-bottom: 0.2rem solid $black;
        }
    }
}
.heading-section{
    .container{
        padding:0rem;
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
       
        
    }
}





.filteranddoctor{
    padding-top: 0rem;
    .container{
        padding:0rem;
        aside{
            display: none;
        }
        
        .cards{
            padding:0rem;
            .main-grid{
                display: grid;
                border:1px solid $background-blue-color;
                margin-bottom: 1rem;
                div{
                    
                    h3{
                        color: $sky-blue;
                        position: relative;
                    }
                    h3::before{
                    display: inline;
                    content:'';
                    position: absolute;
                    border-bottom:0.2rem solid $sky-blue;
                    width:1.3rem;
                    left: -1.5rem;
                    top:0.7rem;
                    }

                    padding:1rem 1.5rem;
                    display: flex;
                    flex-direction: column;
                    align-items: flex-start;
                    justify-content: space-around;
                    .sub-grid{
                        display: grid;
                        grid-template-rows: 1fr 1fr 1fr 1fr 1fr 1fr;
                        grid-column-gap: 1rem;
                        grid-row-gap: 0.2rem;
                        margin:1rem 0rem;
                        width:100%;
                        li{
                            display: flex;
                            flex-direction: row;
                            align-items: center;
                            font-weight: 600;
                            span{
                                color: $dark-blue-color;
                                font-family: LightFont;
                                font-weight: 900;
                                text-align: left;
                            }
                            i{
                                color:$sky-blue;
                                margin-right: 1rem;
                            }
                        }
                    }
                    button{
                        margin:0rem auto;
                    }
                   
                }
                figure{
                    width:100%;
                    height: 17rem;
                }
                .hidebookdiv{
                    display: none;
                   
                }
                .bookAppointmentContainer{
                    div{
                        padding:0rem;
                        .carouselButton{
                            cursor: pointer;
                        }

                    }
                    .carouselContainer{
                        padding:0rem;
                        padding-bottom: 1rem;
                        width:100%;
                        display: grid;
                        grid-template-rows: 1fr;
                        grid-template-columns: auto 1fr auto;
                        width:100%;
                        align-items: center;
                        -webkit-animation: cssAnimation 1s forwards; 
                        animation: cssAnimation 1s forwards;
                        @keyframes cssAnimation {
                            0%   {opacity: 0;}
                            90%  {opacity: 1;}
                            100% {opacity: 1;}
                        }
                        @-webkit-keyframes cssAnimation {
                            0%   {opacity: 0;}
                            90%  {opacity: 1;}
                            100% {opacity: 1;}
                        }
                        .allCarouselItems{
                            
                            .item{
                                width:100%;
                                padding:0.3rem 0rem;
                                cursor: pointer;
                                h5,h6{
                                    width:100%;

                                    text-align: center;
                                }
                            }
                        }
                    }
                    .subScheduleContainer{
                        width:100%;
                        padding-top: 1rem;
                        border-top: 1px solid $dark-blue-color;
                        -webkit-animation: cssAnimation 1s forwards; 
                        animation: cssAnimation 1s forwards;
                        @keyframes cssAnimation {
                            0%   {opacity: 0;}
                            90%  {opacity: 1;}
                            100% {opacity: 1;}
                        }
                        @-webkit-keyframes cssAnimation {
                            0%   {opacity: 0;}
                            90%  {opacity: 1;}
                            100% {opacity: 1;}
                        }
                        div{
                                padding:0.5rem 0rem;
                                width:100%;
                                .head{
                                    h4{
                                        text-align: center;
                                        width:100%;
                                        margin-bottom: 0.7rem;


                                    }
                                }
                                div{
                                    display: flex;
                                    flex-wrap: wrap;
                                    flex-direction: row;
                                    justify-content: space-between;
                                    padding:0rem;
                                    h6{
                                        width:100%;
                                        color: $background-blue-color;
                                        text-align: center;
                                    }
                                    form{
                                        margin-bottom: 0.7rem;
                                        cursor: pointer;
                                        h4{
                                            span{
                                                padding:0.4rem;
                                                color:$background-blue-color;
                                                border:1px solid $background-blue-color;
                                            }
                                        }
                                        h4:hover{
                                            span{
                                                color:$sky-blue;
                                                border:1px solid $sky-blue;
                                            }
                                        }
                                    }
                                }
                            
                        }
                    }
                    
                   
                }
            }
        }
    }
}


@media only screen and (min-width:$breakpoint-tablet){
   .overlay-section{
       h1{
           text-align: left;
       }
   }
   .filteranddoctor{
       padding-top: 0rem;
       .container{
           display: flex;
           flex-direction: row;
           justify-content: space-between;
           padding:0rem;
           aside{
               display: block;
               width:25%;
               form{
                   button{
                       width:100%;
                       text-align: left;
                   }
                   ul{
                       margin-top: 1.5rem;
                       display: flex;
                       flex-wrap: wrap;
                       justify-content: space-between;
                       li{
                           padding:0.3rem 0.5rem;
                           border:2px solid $light-grey;
                           border-radius: 0.3rem;
                           width:auto;
                           margin-top: 0.2rem;

                           i{
                             margin-left: 1rem;
                             color: $background-blue-color;
                             cursor: pointer;

                           }
                       }
                   }
                   .category{
                       padding:1.5rem 0rem;
                       border-bottom: 1px solid $grey;
                       display: flex;
                       flex-direction: column;
                       align-items: flex-start;
                       .head{
                           width:100%;
                           display: flex;
                           flex-direction: row;
                           justify-content: space-between;

                           i{
                               color: $sky-blue;
                           }
                           i::after{
                            display: inline-block;
                            content:'';
                            border-bottom:0.2rem solid $light-grey;
                            width:1rem;
                            transform: translateY(-0.2rem);
                            margin-left: 0.5rem;

                            
                           }
                       }
                       .filter-data{
                        margin:1rem 0rem;
                        padding:0.5rem 0rem;
                        max-height: 7rem;
                        overflow: hidden;
                        div{
                            display: flex;
                            flex-direction: row;
                            align-items: center;
                            margin:0.3rem 0rem;
                            cursor: pointer;

                            input{
                                margin-right: 1rem;
                                cursor: pointer;

                            }
                            label{
                                color:$dark-blue-color;
                                font-weight: 600;
                                margin-bottom: 0rem;
                                cursor: pointer;

                            }
                            
                        }
                       }
                       span{
                           color:$background-blue-color;
                        }
                   }
               }
           }
           .reschedule-card{
            margin:0rem auto;
            margin-top: 2rem;
            }
           .cards{
            padding:0rem;
            width:73%;
            .main-grid{
                display: grid;
                grid-template-columns: 2fr 1fr;
                grid-template-rows: 1fr;
                div{
                    
                    display: flex;
                    flex-direction: column;
                    align-items: flex-start;
                    justify-content: space-around;
                    .sub-grid{
                        display: grid;
                        grid-template-columns: 1fr 1fr;
                        grid-template-rows: repeat(3, minmax(2.5rem, max-content));
                      
                    }
                    button{
                        margin-left: 0rem;
                    }
                }
                figure{
                    height:100%;
                    cursor: pointer;
                }
                .bookAppointmentContainer{
                    
                    .carouselContainer{
                        grid-template-columns: 1fr 1fr 1fr;
                        #end-button{
                            align-items: flex-end;
                        }
                    }
            }
            }
           }

       }
   }
    
}
@media only screen and (min-width:$breakpoint-desktop){
    .overlay-section{
        padding:7rem 0rem;
        h1{
            span{
                font-size: 2.4rem;
            }
        }
    }
    .filteranddoctor{
        .container{
            aside{
                form{
                    .category{
                        .filter-data{
                            max-height: 9rem;
                            div{
                                margin:0.5rem 0rem;
                                label{
                                    font-size: 1.2rem;
                                    font-weight: 700;
                                    
                                }
                            }
                        }
                    }
                }
            }
            .reschedule-card{
                margin-top: 3rem;
                }
            .cards{
                width:70%;
               padding:0rem;
            .main-grid{
               
                div{
                    justify-content: space-around;
                    padding: 0rem;
                    h3::before{
                  
                    width:1.7rem;
                    left: -2rem;
                    top:0.9rem;
                    }
                    
                   
                   .sub-grid{
                    grid-column-gap: 1rem;
                    grid-row-gap:0.2rem;
                   }
                }
                .demodiv{

                    padding:1rem 2rem;
                    }
                .bookAppointmentContainer{
                    width:100%;
                    display: grid;
                    grid-template-columns: 1fr;
                    .carouselContainer{
                        grid-template-columns: auto 1fr auto;
                        padding: 1rem 1.5rem;

                        .allCarouselItems{
                            display: grid;
                            grid-template-columns: 1fr 1fr 1fr;
                        }
                        #end-button{
                            align-items: flex-end;
                        }
                    }
                    .subScheduleContainer{
                        padding:1rem;
                    }
            }
            figure{
                height:18rem;
            }
                
            }
            }
        }  
    }
}