@import "style.scss";



.loginform textarea {
    text-indent: 0.5rem;
    border: 0.1rem solid $light-grey;
    font-size: 1rem;
    color:$grey;
    padding-top: 0.5rem;
    font-family: BoldFont;
    height:12rem;
    margin-bottom: 0.7rem;
}

.loginform input,textarea{
    margin:0rem;
}
.loginform button{
    margin:0rem;
}
@media only screen and (min-width:$breakpoint-tablet) {
    .loginform textarea{
        padding-top: 1rem;
    }
    .login h1{
        padding-bottom: 2.5rem;
    }
    .login{
        width:70%;
    }
}

@media only screen and (min-width:$breakpoint-unknown) {
    .loginform textarea{
        font-size: 1.2rem;
    }
}