
@import "style.scss";

.doctor-card-tab{
 
    .doctor-card{
        margin-top: 1rem;
        border:0.1rem solid grey;
        ul{
            li{
                margin-bottom: 0.5rem;
            }
        }
        .doctor-image{
            height:20rem;
        } 
    }
}
span{
    color: $dark-blue-color;
    font-family: LightFont;
}

#treatment-list{

        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: unset;
        padding-left: 1.7rem;
        
        li{
            font-size: 0.9rem;
            font-family: LightFont;
            margin-bottom: 0.2rem;
            border:1px solid $grey;
            border-radius: 2rem;
            padding:0.1rem 0.6rem;
            margin-right: 0.3rem;
            text-align: center;

         
        }
    
}

@media only screen and (min-width:$breakpoint-tablet){
    .overlay-section{
        display: none;
    }
  
    .filtersanddoctors{
        .filters{
            display:none;
        }
        .doctor-card-tab{
            width:100%;
            .doctor-card{
                height:25rem;
                border:0.1rem solid grey;
               h3{
                   margin-top: 1.5rem;
               }
                div{
                    height:100%;
                    ul{
                        grid-template-rows: 1fr 1fr;
                        height:6rem;
                       
                    }
                }
                #treatment-list{
                    align-content: unset;
                    height:8rem;

                    li{
                        width:auto;
                        padding:0rem 0.5rem;
                        margin-bottom: 0.4rem;


                    }
                }
                .appointment-button{
                    display: flex;
                    flex-direction: row;
                    justify-content: flex-start;
                    margin-bottom: 1.5rem;
                    margin-left: 1.5rem;
        
                }
            }
        }
        
    }
}
@media only screen and (min-width:$breakpoint-unknown){
    .overlay-section{
        display: flex;
    }
    .heading-section{
        padding-bottom: 2rem;
    }
    .filtersanddoctors{
        .filters{
            display:block;
            .filterform{
                h4{
                    font-family: BoldFont;
                }
            }
        }
        .doctor-card-tab{
            width:75%;
            .doctor-card{
                height:26rem;
              
                div{
                    ul{
                        height:6rem;
                        li{
                            width:47%;
                            font-size: 1.3rem;
                        }
                    }
                    #treatment-list{
                        li{
                            padding:0rem 2rem;
                            font-size: 1.1rem;
                        }
                    }
                }
            .doctor-image{
                width:30%;
            }
        }
        }
    }
    #doctor{
        color:$dark-blue-color;
    }
    #hospital{
        color:$background-blue-color;
    }


}


@media only screen and (min-width:$breakpoint-desktop){
    .overlay-section{
        display: flex;
    }
    .heading-section{
        padding-bottom: 0rem;
    }
    .filtersanddoctors{
        .filters{
            display:block;
        }
        .doctor-card-tab{
            width:75%;
            .doctor-card{
                height:26rem;
              
                div{
                    height:23rem;
                    ul{
                        height:9rem;
                        li{
                            width:47%;
                        }
                    }
                    #treatment-list{
                        height:6.5rem;
                        li{
                            padding:0rem 2rem;
                        }
                    }
                }
            .doctor-image{
                width:30%;
            }
            .appointment-button{
                margin-top: 1rem;
            }
        }
        }
    }
}