@import "colors.scss";

.signup-section{
    p{
        margin-bottom: 0rem;
        margin-top: 1rem;
    }
    form{
        label{
            display: flex;
            color:$sky-blue;
            font-family: BoldFont;
            margin-bottom: 0.5rem;
            margin-top: 1rem;
        }
    }
}
@media only screen and (min-width:$breakpoint-desktop){
    .signup-section{
        p{
           text-align: center;
        }
    }
}