@import "colors.scss";

#loginmsg{
    border-left: 0.2rem solid $red;
    ul{
        
            span{
                color: $red;
            }
        
    }
    #tick{
        background-color: $red;
    }
}

.bg-blue-section{
background-color: $background-blue-color;
display: flex;
flex-direction: column;
justify-content: space-around;
align-items: center;
width:100%;
position: relative;
}
.signup-section{
    margin:1rem 0rem;
}
.signin-section{
    height:90vh;
}
section{
    background-color: $white;
    width:100%;
    margin:auto;
    article{
        padding-bottom: 1.5rem;
        border-bottom: 1px solid $light-grey;
        h1{
            color: $sky-blue;
            margin-bottom: 0rem;
        }
    }
    form{
        margin-top: 1rem;
        input{
            border:1px solid $light-grey;
            margin-bottom: 0.5rem;
        }
        
        .button-div{
            display: flex;
            flex-direction: row;
            justify-content: space-between;
            margin:0.5rem 0rem 1rem 0rem;
            button{
                padding:0rem;
                margin-bottom: 0rem;
                width:auto;
            }
           
            .linkButton{
                color:$sky-blue;
            }
            .linkButton:hover{
                background-color: $white;
                border:1px solid $white;
              
            }
        }
        button{
            padding:0.8rem 1.5rem;
            margin-bottom: 1rem;
            width: 100%;
            i{
                color: $white;
                float: right;
                font-size: 1rem;
            }
        }
        button:hover{
            i{
                color:$dark-blue-color;
            }
        }
        .password-div{
            position: relative;
            i{
                position: absolute;
                top:1rem;
                right:1.5rem;
                color: $sky-blue;
            }
        }
        .isdoctor{
            display: flex;
            flex-direction: row;
            align-items: center;
            justify-content: center;
            margin-bottom: 0.7rem;
            label{
                font-family: BoldFont;
                color:$sky-blue;
                margin:auto 0;
                margin-left: 1rem;
            }
        }
    }
    h6{
        span{
            a{
                color: $sky-blue;
            }
        }
    }
}
footer{
    p{
        font-family: BoldFont;
        margin-bottom: 0rem;
    }
}
@media only screen and (min-width:$breakpoint-tablet){
    section{
        width:70%;
    }
}

@media only screen and (min-width:$breakpoint-desktop){
    section{
        width:40%;
       padding:2rem;
    
        article{
            padding-bottom:2rem;
           h1{
               text-align: center;
           }
        }
        form{
            margin-top: 0.7rem;
            input{
                margin-bottom: 0.7rem;
            }
            
            .button-div{
                
                margin:0.7rem 0rem 1rem 0rem;
            }
           
            .password-div{
                i{
                    top:1.2rem;
                    font-size: 1.1rem;
                }
            }
            
        }
        h6{
            margin-top: 1rem;
            text-align: center;
        }
    }
}