@import "style.scss";
body{
    background-color: $background-blue-color;
    height:99vh;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
header{
    background-color: $white;
}

a{
    text-decoration: none;
}

#loginmsg{
    display: flex;
    border-left: 0.3rem solid red;
    #tick{
        background-color: red;
    }
    ul{
        li{
            color: red;
        }
    }

}
#passworddiv{
    width:100%;
    border:0.1rem solid $light-grey;
    display: flex;
    flex-direction: row;
    align-items: center;
    height:auto;
    margin-top:0rem;
    margin-bottom:1rem;

    
    i{
        color:$sky-blue;
        font-size:1rem;
        margin-right: 1rem;
    }
    input{
        border: unset;
        margin:0rem;
       
    }
}

.loginsection{
    display: flex;
    flex-direction: column;
    align-items: center;
}
.login{
    width:20.5rem;
    background-color:$white;
    @include flex-column();
    justify-content: unset;
    h3{
        padding:1.5rem 0rem;
        border-bottom:0.18rem solid $light-grey;
        color: $sky-blue;

    }
    .loginform{
        width:auto;
        padding:1.5rem 1rem;
        div{
            display:flex;
            flex-direction: row;
            justify-content: space-between;
            margin-bottom: 1rem;
            margin-top: 0.5rem;
            h5{
                font-size:0.8rem ;
                color:$sky-blue;
                font-family: BoldFont;
            }
            button{
                border: unset;
                background-color: unset;
                padding: 0rem;
                width:auto
            }
        }
        input{
            border:0.1rem solid $light-grey;
            font-family: BoldFont;
            margin-bottom: 1rem;
        }
        button{
            width:100%;
            font-family: BoldFont;
            i{
                float: right;
            }
        }
    }
    h4{
        font-size: 0.9rem;
        color: $dark-grey;
        padding-top: 0rem;
        padding-bottom: 0.5rem;
        span{
            color: $sky-blue;
            font-size: 1rem;
        }
    }
}
footer{
    section{
    background-color: $background-blue-color;
   
    p{
        color:black;
        font-family: BoldFont;
        font-size: 1rem;
    }
    }
}
   



  @media only screen and (min-width:$breakpoint-tablet) {

    #passworddiv{
        
        
        i{
            color:$sky-blue;
            font-size:1.2rem;
            margin-right: 1rem;
        }
        
    }

.loginsection{
    .login{
        width:36rem;
        h3{
            padding:2rem 0rem;
            
    
        }
        .loginform{
            padding:2rem;
            div{
               
                margin-bottom: 1.8rem;
                margin-top: 1.8rem;
                h5{
                    font-size:1.2rem ;
                   margin-bottom: 0rem;
                }
                button{
                    height:auto;
                    outline: none;
                 }
            }
          
        }
        
    }
}
footer{
    section{
        p{
            font-size: 1.2rem;
        }
    }
}

  }

  @media only screen and (min-width:$breakpoint-unknown){

    #passworddiv{
        
        
        i{
            color:$sky-blue;
            font-size:1.4rem;
            margin-right: 1rem;
        }
        
    }

#loginmsg{
    display: flex;
    top:9rem;
    right:1rem;
    border-left: 0.3rem solid red;
    #tick{
        background-color: red;
    }
    ul{
        li{
            color: red;
        }
    }

}

      .loginsection{
          .login{
              width:40rem;
              display: flex;
              flex-direction: column;
              align-items: center;
              h3{
                  text-align: center;
                  padding:2.5rem 0rem;
                  width: 100%;
              }
              .loginform{
                  width: 100%;
                div{
                   display: flex;
                   flex-direction: row;
                   align-items: center;
                    margin: 0.5rem 0rem;
                    h5{
                        font-size:1.1rem ;
                     
                    }
                }
                button{
                    padding:1rem 0.7rem;
                }
                
              }
          }
      }
      footer{
        section{
            padding:0rem;
            padding-bottom: 2rem;

            p{
                text-align:center;
            }
        }
    }


  }