@font-face {
  font-family: "BoldFont";
  src: url("Nexa-Bold-1.otf");
}

@font-face {
  font-family: "LightFont";
  src: url("Nexa-Light.otf");
}

#loginmsg {
  border-left: 0.2rem solid red;
}

#loginmsg ul span {
  color: red;
}

#loginmsg #tick {
  background-color: red;
}

.bg-blue-section {
  background-color: #93bede;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 100%;
  position: relative;
}

.signup-section {
  margin: 1rem 0rem;
}

.signin-section {
  height: 90vh;
}

section {
  background-color: white;
  width: 100%;
  margin: auto;
}

section article {
  padding-bottom: 1.5rem;
  border-bottom: 1px solid #dbd8d8;
}

section article h1 {
  color: #167ddd;
  margin-bottom: 0rem;
}

section form {
  margin-top: 1rem;
}

section form input {
  border: 1px solid #dbd8d8;
  margin-bottom: 0.5rem;
}

section form .button-div {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin: 0.5rem 0rem 1rem 0rem;
}

section form .button-div button {
  padding: 0rem;
  margin-bottom: 0rem;
  width: auto;
}

section form .button-div .linkButton {
  color: #167ddd;
}

section form .button-div .linkButton:hover {
  background-color: white;
  border: 1px solid white;
}

section form button {
  padding: 0.8rem 1.5rem;
  margin-bottom: 1rem;
  width: 100%;
}

section form button i {
  color: white;
  float: right;
  font-size: 1rem;
}

section form button:hover i {
  color: #222844;
}

section form .password-div {
  position: relative;
}

section form .password-div i {
  position: absolute;
  top: 1rem;
  right: 1.5rem;
  color: #167ddd;
}

section form .isdoctor {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin-bottom: 0.7rem;
}

section form .isdoctor label {
  font-family: BoldFont;
  color: #167ddd;
  margin: auto 0;
  margin-left: 1rem;
}

section h6 span a {
  color: #167ddd;
}

footer p {
  font-family: BoldFont;
  margin-bottom: 0rem;
}

@media only screen and (min-width: 768px) {
  section {
    width: 70%;
  }
}

@media only screen and (min-width: 1024px) {
  section {
    width: 40%;
    padding: 2rem;
  }
  section article {
    padding-bottom: 2rem;
  }
  section article h1 {
    text-align: center;
  }
  section form {
    margin-top: 0.7rem;
  }
  section form input {
    margin-bottom: 0.7rem;
  }
  section form .button-div {
    margin: 0.7rem 0rem 1rem 0rem;
  }
  section form .password-div i {
    top: 1.2rem;
    font-size: 1.1rem;
  }
  section h6 {
    margin-top: 1rem;
    text-align: center;
  }
}
/*# sourceMappingURL=login.css.map */