@font-face {
  font-family: "BoldFont";
  src: url("Nexa-Bold-1.otf");
}

@font-face {
  font-family: "LightFont";
  src: url("Nexa-Light.otf");
}

.profile-section .main-section .form-section {
  padding: 1rem;
}

.profile-section .upcoming-appointments h4 {
  margin-bottom: 1rem;
}

.profile-section .appointment-div {
  border: 1px solid #167ddd;
  padding: 1rem;
  margin-bottom: 1rem;
}

.profile-section .appointment-div span {
  font-size: 1rem;
}

.profile-section .appointment-div .datetimehospital {
  margin-bottom: 1rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  height: 100%;
}

.profile-section .appointment-div .datetimehospital .timehospital {
  text-align: left;
}

.profile-section .appointment-div .datetimehospital .date {
  background-color: #f0f0f5;
  padding: 0.5rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.profile-section .appointment-div .datetimehospital .date h6 {
  width: auto;
}

.profile-section .appointment-div .buttons button {
  width: 100%;
}

.profile-section .appointment-div .buttons .accentButton {
  margin-bottom: 0.5rem;
}

.profile-section .completed-appointment .datetimehospital {
  margin-bottom: 0rem;
}

@media only screen and (min-width: 768px) {
  .profile-section .appointment-div {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .profile-section .appointment-div .datetimehospital {
    width: 45%;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    margin-bottom: 0rem;
  }
  .profile-section .appointment-div .buttons {
    width: 50%;
  }
  .profile-section .completed-appointment .datetimehospital {
    width: 100%;
  }
}

@media only screen and (min-width: 1024px) {
  .profile-section .main-section .form-section {
    padding: 1rem;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .profile-section .main-section .form-section div {
    width: 100%;
  }
  .profile-section .main-section .form-section div .myappointments .appointment-div .datetimehospital {
    width: 50%;
  }
  .profile-section .main-section .form-section div .myappointments .appointment-div .datetimehospital .date {
    width: auto;
  }
  .profile-section .main-section .form-section div .myappointments .appointment-div .datetimehospital .timehospital {
    width: auto;
  }
  .profile-section .main-section .form-section div .myappointments .appointment-div .datetimehospital .timehospital span {
    font-size: 1.3rem;
  }
  .profile-section .main-section .form-section div .myappointments .appointment-div .buttons {
    width: 30%;
  }
  .profile-section .main-section .form-section div .myappointments .completed-appointment .datetimehospital {
    width: 100%;
  }
}
/*# sourceMappingURL=myappointments.css.map */