@import "colors.scss";



#profile{
    background-color: $blue-grey;
    i,span{
        color:$sky-blue;
    }
}
#appointments{
    background-color: $sky-blue;
    i,span{
        color:$white;
    }
}
.profile-section{
.main-section{
    .form-section{
        padding:1rem;
    }
}
.upcoming-appointments{
    h4{
        margin-bottom: 1rem;
    }
}
.appointment-div{
    border:1px solid $sky-blue;
    padding:1rem;
    margin-bottom: 1rem;
    span{
        font-size: 1rem;
    }
    .datetimehospital{
        margin-bottom: 1rem;
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        height:100%;
        .timehospital{
            text-align: left;
        }
        .date{
            background-color: $blue-grey;
            padding:0.5rem;
            display: flex;
                flex-direction: column;
                justify-content:center;
            h6{
                
                width: auto;
            }

        }
    }
    .buttons{
        button{
            width: 100%;

        }
        .accentButton{
            margin-bottom: 0.5rem;
        }
    }
}
.completed-appointment{
    .datetimehospital{
        margin-bottom: 0rem;
    }
}
}
@media only screen and (min-width:$breakpoint-tablet){
    .profile-section{
    .appointment-div{
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
        .datetimehospital{
            width:45%;
            justify-content: space-between;
            margin-bottom: 0rem;
        }
        .buttons{
            width:50%;
        }
    }
    .completed-appointment{
        .datetimehospital{
            width: 100%;
        }
    }
}
    
}

@media only screen and (min-width:$breakpoint-desktop){
    .profile-section{
        .main-section{
            .form-section{
                padding:1rem;
                display: flex;
                flex-direction: column;
                justify-content: center;
                align-items: center;
                div{
                    width:100%;
                    .myappointments{
                        .appointment-div{
                            .datetimehospital{
                                
                                width:50%;
                                .date{
                                    width:auto;
                                }
                                .timehospital{
                                    span{
                                        font-size: 1.3rem;
                                    }
                                    width:auto
                                }
                            }
                            .buttons{
                                width:30%;
                            }
                        }
                        .completed-appointment{
                            .datetimehospital{
                                width:100%;
                            }
                        }
                    }
                }
            }
            
        }
       
        }    
      
}