
@import "style.scss";

a{
    text-decoration: none;
}
#otpinput{
    div{
        justify-content: center;
    }
    input{
        width:2rem;
        margin:0.5rem;
        border: unset;
        border-bottom: 0.2rem solid $sky-blue;
        padding:0.5rem;
        font-size: 1.2rem;
        text-indent: unset;
        text-align: center;

    }
    input::-webkit-outer-spin-button,input::-webkit-inner-spin-button{
        -webkit-appearance:none;

    }
    p{
        font-size: 1rem;
        text-align: center;
        margin-bottom: 1.5rem;
        font-family: LightFont;
        color:$dark-blue-color;
    }
    h4{
        font-size:0.9rem;
    }
}

#loginmsg{
    display: flex;
    right:0.5rem;
    top:5rem;
    border-left: 0.3rem solid red;
    #tick{
        background-color: red;
    }
    ul{
        li{
            color: red;
        }
    }

}

@media only screen and (min-width:$breakpoint-tablet) {

    #loginmsg{
        display: flex;
        right:1rem;
        top:5rem;
        border-left: 0.3rem solid red;
        #tick{
            background-color: red;
        }
        ul{
            li{
                color: red;
            }
        }
    
    }
    #otpinput{
    
        input{
            width:3rem;
            margin:1rem;
            padding:1rem;
            font-size: 1.3rem;
          
        }
        p{
            font-size: 1.1rem;
            margin-bottom: 2rem;
        }
        h4{
            font-size:1.2rem;
        }
    }

}

@media only screen and (min-width:$breakpoint-desktop) {

    #loginmsg{
        display: flex;
        right:1rem;
        top:9rem;
        border-left: 0.3rem solid red;
        #tick{
            background-color: red;
        }
        ul{
            li{
                color: red;
            }
        }
    
    }


#otpinput{
    
    input{
        width:4rem;
        margin:1rem;
        padding:1rem;
        font-size: 1.5rem;
      
    }
    p{
        font-size: 1.2rem;
        margin-bottom: 2rem;
    }
}

}