@import "style.scss";



.empty {
    background-color: $white;
    color: $grey;
  }     

.login{
    
  
    .loginform{
     
        div{
            display: flex;
            flex-direction: row;
            justify-content: space-between;
            margin: 0rem;
            input{
                width:49.4%;
            }
           
        }
        .isdoctor{
            align-items: center;
            justify-content: center;
            margin:1rem 0rem;
            input{
                height:1rem;
                width:1rem; 
                margin: 0rem;
                margin-right: 0.5rem;

            }
            label{
                font-family: BoldFont;
                color:$sky-blue;
                font-size: inherit;
            }
        }
        input{
            margin-bottom: 0.5rem;
          
        }
        button{
            span{
                padding: 0rem 0.2rem;
            }
        }
        
      
    }
    
}
footer{
    section{
        padding:0rem;
        padding-bottom: 1rem;
    }
}

    


  @media only screen and (min-width:$breakpoint-tablet) {
.loginsection{
    .login{
        width:40rem;

        .loginform{
            padding:2rem;
            div{
                margin: 0rem;

            }
            .isdoctor{
               margin:1rem 0rem;
               
                label{
                  
                    font-size: 1.1rem;
                }
            }
            button{
                padding:1rem 1.5rem;
            }
            
        }
        
    }
}
footer{
    section{
        p{
            font-size: 1.2rem;
        }
    }
}

  }

  @media only screen and (min-width:$breakpoint-desktop){
    .loginsection{
        .login{
            width:50rem;
    
            .loginform{
                padding:2rem;
                .isdoctor{
               
                   
                    label{
                      
                        font-size: 1.3rem;
                    }
                }
                button{
                    height:4rem;
                }
                input{
                    height:2.7rem;
                }
            }
            
        }
    }
      footer{
        section{
            p{
                text-align:center;
            }
        }
    }


  }