@font-face {
  font-family: "BoldFont";
  src: url("Nexa-Bold-1.otf");
}

@font-face {
  font-family: "LightFont";
  src: url("Nexa-Light.otf");
}

.slot-section {
  background-color: #f0f0f5;
}

.slot-section .container {
  padding: 0rem;
}

.background-white-div {
  background-color: white;
  padding: 1rem;
  margin-bottom: 1rem;
}

.background-white-div .icon {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  margin: 0.5rem 0rem;
}

.background-white-div .icon i {
  color: #167ddd;
  margin-right: 1rem;
}

.background-white-div figure {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding-top: 1rem;
  border-top: 1px solid #dbd8d8;
}

.background-white-div figure div {
  height: 5rem;
  width: 5rem;
}

.background-white-div figure figcaption {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
}

.background-white-div figure figcaption ul li {
  text-align: left;
}

.background-white-div .infoform {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
}

.background-white-div .infoform span {
  margin: 0.5rem 0rem;
}

.background-white-div .infoform input {
  border: 1px solid #dbd8d8;
  margin-bottom: 1rem;
}

.background-white-div .infoform button {
  width: 100%;
}

.background-white-div .confirmed div {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-bottom: 1rem;
}

.background-white-div .confirmed div i {
  color: green;
  font-size: 1.5rem;
  margin-right: 1rem;
}

.background-white-div .confirmed div span {
  margin-top: 1rem;
}

.background-white-div .confirmed .buttondiv {
  margin-top: 1rem;
  margin-bottom: 0rem;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.background-white-div .confirmed .buttondiv .accentButton {
  margin-right: 0.5rem;
  height: auto;
}

@media only screen and (min-width: 768px) {
  .slot-section .container {
    max-width: 25rem;
  }
  .slot-section .container .background-white-div figure {
    -webkit-box-pack: unset;
        -ms-flex-pack: unset;
            justify-content: unset;
  }
  .slot-section .container .background-white-div figure figcaption {
    margin-left: 1rem;
  }
}

@media only screen and (min-width: 1024px) {
  .slot-section .container {
    max-width: 1000px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .slot-section .container .background-white-div {
    width: 50%;
    padding: 2rem 1.5rem;
  }
  .slot-section .container .background-white-div .buttondiv {
    width: 100%;
  }
  .slot-section .container .clinic {
    width: auto;
  }
}
/*# sourceMappingURL=slotbooking.css.map */