@import "colors.scss";

.slot-section{
    background-color: $blue-grey;
    .container{
        padding:0rem;
    }
}
.background-white-div{
background-color: $white;
padding:1rem;
margin-bottom: 1rem;
.icon{
    display: flex;
    flex-direction: row;
    margin:0.5rem 0rem;
    i{
        color: $sky-blue;
        margin-right: 1rem;
    }
}
figure{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding-top: 1rem ;
    border-top: 1px solid $light-grey;
    div{
        height: 5rem;
        width:5rem;
    }
    figcaption{
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        ul{
            li{
                text-align: left;
                
            }
        }
    }
}
.infoform{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    span{
        margin:0.5rem 0rem;
    }
    input{
        border:1px solid $light-grey;
        margin-bottom: 1rem;
    }
    button{
        width:100%;
    }
}
.confirmed{
    div{
        display: flex;
        flex-direction: row;
        align-items: center;
        margin-bottom: 1rem;
        i{
            color: $green;
            font-size: 1.5rem;
            margin-right: 1rem;
        }
        span{
            margin-top: 1rem;
        }
    }
    .buttondiv{
        margin-top: 1rem;
        margin-bottom: 0rem;
        justify-content: space-between;
        .accentButton{
            margin-right: 0.5rem;
            height: auto;
        }
    }
}
}

@media only screen and (min-width:$breakpoint-tablet){

    .slot-section{
        .container{
            max-width: 25rem;
            .background-white-div{
                figure{
                    justify-content: unset;
                    figcaption{
                        margin-left: 1rem;

                    }
                }
            }
        }
    }
}
@media only screen and (min-width:$breakpoint-desktop){

    .slot-section{
        .container{
            max-width: 1000px;
            display: flex;
            flex-direction: row;
            justify-content: space-between;
            align-items: center;
            .background-white-div{
                width:50%;
                padding:2rem 1.5rem;
                .buttondiv{
                    width: 100%;
                }
            }
            .clinic{
                width:auto;
            }

        }
    }
}
