@import "./colors.scss";
@import "./header.scss";
@import "./footer.scss";


.container{
    padding:1rem;
    width:100%;
    max-width: 1200px;
    margin: auto;
}


/* global tags */
*{
    box-sizing: border-box;
}
img{
    width:100%;
    height:100%;
    object-fit: cover;
}
section,footer{
    padding:1.5rem 1rem;
    text-align: center;
}
h1,h2,h3,h4,h5,h6{
    font-family: BoldFont;
    color:$dark-blue-color;
    text-transform: capitalize;
}
h1,h2{
    font-size:2rem;
    line-height: 2.4rem;
    margin-bottom: 1rem;
}
h3{
    font-size: 1.6rem;
    line-height: 2rem;
}
h4{
    font-size: 1.4rem;
    line-height: 1.8rem;
}
h5{
    font-size: 1.2rem;
    line-height: 1.6rem;
}
h6{
    font-size: 1rem;
    line-height: 1.4rem;
}
p{
    font-family: LightFont;
    font-size: 1.1rem;
    line-height: 1.4rem;
    color: $dark-blue-color;
    margin-bottom: 1rem;
}
input,datalist{
    font-family: LightFont;
    padding: 0.8rem;
    font-size: 1.1rem;
    line-height: 1.4rem;
    width: 100%;
    color: $dark-blue-color;
    border:none;
    outline: none;
}

.tagify{
    padding: 0.2rem 0.5rem;
    flex-wrap: unset;
    overflow-x: scroll;
    scrollbar-width: none;

    --tag-bg: rgb(184, 213, 240);
    span{
        color:$sky-blue
    }
}
.tagify::-webkit-scrollbar {
    display: none;
}


.tagify__tag__removeBtn{
    color: $sky-blue;
}




select{
    align-self: center;
    -ms-grid-column-align: right;
    justify-self: right;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    border: none;
    padding: 0.7rem;
    background: url(https://cdn1.iconfinder.com/data/icons/flat-and-simple-part-1/128/arrow_down-512.png) no-repeat, #d3d3d3;
    background-size: 20%;
    background-position-x: 95%;
    background-position-y: 50%;
    font-family: nexa-light;
    font-size: 0.9rem;
    color: $black;
    border: 0;
}



textarea{
    font-family: LightFont;
    padding: 0.8rem;
    font-size: 1.1rem;
    line-height: 1.4rem;
    width: 100%;
    color: $dark-blue-color;
    border:1px solid $grey;
    outline: none;
}



input::placeholder{
    font-size: 0.9rem;
    color:$grey;
}

input[type="checkbox"]{
    width:1rem;
    height:1rem;
    margin: 0rem;
}


input:focus,select:focus{
    outline: none;
}


textarea::placeholder{
    font-size: 0.9rem;
    color:$grey;
    font-family: BoldFont;
}


button{
    font-family: BoldFont;
    font-size: 1rem;
    line-height: 1.4rem;
    border: none;
    padding: 0.5rem 1.5rem;
    outline: none;
    cursor: pointer;
    user-select: none;
    text-transform: capitalize; 
}


.filledButton{
    background: $dark-blue-color;
    color:$white;
    border:1px solid $dark-blue-color; 
}
.filledButton:hover{
    background: $white;
    color:$dark-blue-color;
    border:1px solid $dark-blue-color; 
}

.accentButton{
    background: $sky-blue;
    color:$white;
    border:1px solid $sky-blue;
}
.accentButton:hover{
    background: $white;
    color:$sky-blue;
    border:1px solid $sky-blue;
}

.linkButton{
    background: $white;
    color:$dark-blue-color;
    border:1px solid $white;
}
.linkButton:hover{
    color:$sky-blue;
}


span{
    font-family: BoldFont;
    color:$sky-blue;
    font-size: 1.1rem;
}

ul li{
    font-size: 1.1rem;
    font-family: LightFont;
    color:$dark-blue-color;
    line-height: 1.5rem;
    list-style-type: none;
}
label{
    font-family: LightFont;
    font-size: 1rem;
    margin-bottom: 1rem;
    color: $sky-blue;
}
a{
    text-decoration: none;
    cursor: pointer;
}


i{
    color:$dark-blue-color;
}


.date{
    color:$grey;
}



#loginmsg{
    position: absolute;
    padding:0.5rem;
    top:1rem;
    right:1rem;
    display: grid;
    grid-template-columns: auto 1fr;
    grid-template-rows: 1fr;
    align-items: center;
    background-color: $white;
    -webkit-animation: cssAnimation 3s forwards; 
    animation: cssAnimation 3s forwards;
    @keyframes cssAnimation {
        0%   {opacity: 1;}
        90%  {opacity: 1;}
        100% {opacity: 0;}
    }
    @-webkit-keyframes cssAnimation {
        0%   {opacity: 1;}
        90%  {opacity: 1;}
        100% {opacity: 0;}
    }
    ul{
        padding:0rem 1rem;
        li{
            text-align: left;
            
        }
    }
    i{
        border-radius: 100%;
        color:$dark-blue-color;
    }
    #tick{
        padding:0.4rem 0.5rem;
        color: $white;
    }

}

@media only screen and (min-width:$breakpoint-tablet){
    section{
        padding: 2rem;
    }
}


@media only screen and (min-width:$breakpoint-desktop){
    .container{
        padding:0rem;
    }
    section{
        padding: 3rem 0rem;
        text-align: left;
    }
    footer{
        padding:1.5rem 1rem;
    }
    h1,h2{
        font-size:2.4rem;
        line-height: 2.8rem;
    }
    h3{
        font-size: 2rem;
        line-height: 2.4rem;
    }
    h4{
        font-size: 1.6rem;
        line-height: 2rem;
    }
    h5{
        font-size: 1.4rem;
        line-height: 1.6rem;
    }
    h6{
        font-size: 1.3rem;
        line-height: 1.4rem;
    }
    p{
        font-family: BoldFont;
        font-size: 1.1rem;
        line-height: 1.4rem;
    }
    span{
        font-size: 1.1rem;
    }
    button{
        font-family: BoldFont;
        font-size: 1.1rem;
        line-height: 1.4rem;
        border: none;
        padding: 0.5rem 0.7rem;
    }
    input,select,textarea,datalist{
        font-size: 1.1rem;
        padding:1rem;
    }
    .tagify{
        padding: 0.5rem 0.5rem;
    
    }
    input::placeholder,textarea::placeholder{
        font-size: 1.1rem;

    }
   
    ul li{
        font-size: 1.1rem;
        line-height: 1.4rem;
    }
    
}

