<html>

<head>
    <link rel="stylesheet" href="reset.css">
    <link rel="stylesheet" href="theme.css">
    <link rel="stylesheet" href="style.css">
    <link rel="stylesheet" href="doctor.css">
    <link rel="stylesheet" href="contactus.css">
    <link rel="stylesheet" href="doctorsprofile.css">
    <link rel="stylesheet" href="about-hospital.css">



    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.7.0/css/all.css"
        integrity="sha384-lZN37f5QGtY3VHgisS14W3ExzMWZxybE1SJSEsQp9S+oqd12jhcu+A56Ebc1zFSJ" crossorigin="anonymous">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">

    <meta name="viewport" content="width=device-width, initial-scale=1">


</head>
<%-include('header.ejs') %>


<div class="overlay-contact-section">
    <h1>About Apollo Hospital</h1>
    <h5>Home / Contact Us</h5>
</div>


<section class="doctorsprofile">
    <div class="profilecard">
        <div class="doctorimage">
            <img src="/home/riyo/tvastra/images/apollo.jpeg">
            <button>Call Now</button>
        </div>
        <div class="info">
            <h3>Apollo Hospital</h3>


            <div class="about-hospital-info">
                <ul>
                    <li id="loc"><i class="fas fa-map-marker-alt"></i>Delhi Mathura Road, Sarita Vihar Delhi 110076</li>
                    <li id="bed"><i class="fa fa-bed"></i>113 Beds</li>

                </ul>
            </div>

            <div class="doctor-info">
                <p>Loren ipsum dolor sit amet. consectetur adipisicing elit. illo rationeasperiores voluptates avel eos
                    laboriosam,, distinctio sed dolorem, saepe repellendus incidunt. veritatis modi hurun unde officiis,
                    placeatblandtiits Loren ipsum dolor sit amet. consectetur adipisicing elit. illo rationeasperiores
                    voluptates avel eos laboriosam,, distinctio sed dolorem, saepe repellendus incidunt. veritatis modi
                    hurun unde officiis, placeatblandtiits</p>
                <ul>
                    <li>
                        <div><i class="fas fa-award"></i>Specialization </div><span><i
                                class="fas fa-angle-down"></i></span>
                    </li>
                    <p>Loren ipsum dolor sit amet. consectetur adipisicing elit. illo rationeasperiores voluptates avel
                        eos laboriosam,, distinctio sed dolorem, saepe repellendus incidunt. veritatis modi hurun unde
                        officiis, placeatblandtiits</p>
                    <li>
                        <div><i class="fa fa-stethoscope"></i>Famous Treatments</div><span><i
                                class="fas fa-angle-down"></i></span>
                    </li>
                    <li>
                        <div><i class="fa fa-user-md"></i>Famous Doctors</div><span><i
                                class="fas fa-angle-down"></i></span>
                    </li>
                    <li>
                        <div><i class="fa fa-hospital"></i>Infrastructure</div><span><i
                                class="fas fa-angle-down"></i></span>
                    </li>
                    <li>
                        <div><i class="fas fa-map-marker-alt"></i>Complete Address</div><span><i
                                class="fas fa-angle-down"></i></span>
                    </li>
                    <li>
                        <div><i class="fa fa-h-square"></i>Hopital Packages</div><span><i
                                class="fas fa-angle-down"></i></span>
                    </li>
                    <li>
                        <div><i class="fa fa-rupee"></i>Hospital Charges</div><span><i
                                class="fas fa-angle-down"></i></span>
                    </li>
                    <li>
                        <div><i class="fa fa-fas fa-address-card"></i>Membership</div><span><i
                                class="fas fa-angle-down"></i></span>
                    </li>

                </ul>
            </div>
        </div>
    </div>

</section>




<section class="Need-help">
    <div>
        <h2>Need Help?</h2>
        <p>Just let us know, we will be happy to assist you</p>
    </div>
    <button>Submit your enquiry</button>
</section>






<%-include('footer.ejs') %>


</body>

</html>