

<html>
    <head>
        <link rel="stylesheet" href="reset.css">
        <link rel="stylesheet" href="theme.css">
        <link rel="stylesheet" href="style.css">
        <link rel="stylesheet" href="isdoctor.css">

        <link rel="stylesheet" href="myappointments.css">
        <link rel="stylesheet" href="admin.css">


        <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/@yaireo/tagify@3.1.0/dist/tagify.css" />

  <script src="https://cdn.jsdelivr.net/npm/@yaireo/tagify@3.1.0/dist/tagify.min.js"></script>
  <script src="https://cdn.jsdelivr.net/npm/jquery@3.4.1/dist/jquery.min.js"></script>

    
        <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.7.0/css/all.css" integrity="sha384-lZN37f5QGtY3VHgisS14W3ExzMWZxybE1SJSEsQp9S+oqd12jhcu+A56Ebc1zFSJ" crossorigin="anonymous">
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    
        <meta name="viewport" content="width=device-width, initial-scale=1">
       
    </head>
    <body>
        
    
        <%-include('header.ejs') %>
    
    <section class="appointments">
        <div class="dashboard" >
            <h1>Dashboard</h1>
            <ul>
               <a href="/admindashboard"> <li>
                    <i class="fas fa-user-edit"></i>
                    <span id="admindashboard">Dashboard</span>
                </li></a>
                <a href="/adminusers"> <li>
                    <i class="fas fa-th-list"></i>
                    <span id="adminusers">Users</span>
                </li>
            </a>
    
    
            <a href="/admindoctors"><li>
                <i class="fas fa-file-alt"></i>
                <span id="admindoctors">Doctors</span>
            </li>
        </a>
    
    
        
            <a href="/adminhospitals"><li>
                    <i class="fas fa-file-alt"></i>
                    <span id="adminhospitals">Hospitals</span>
                </li>
            </a>
                <a href="/settings"><li>
                    <i class="fas fa-user-cog"></i>
                    <span id="setting">Setting</span>
                </li>
            </a>
            </ul>
        </div>
        <div class="record-flex">
           <form class="adminhospitalform" action="/uploadhospitaldata/<%= hospital%>" method="POST">
            <h2>Verify/Edit hospital</h2>

            <h3>Hospital name</h3>
            <input type="text" name="hospitalname" value="<%= hospital%>">
            <h3>Hospital description</h3>
            <textarea name="des"></textarea>
            <h3>Speciality</h3>
            <input type="text" name="speciality">
            <h3>No of Beds</h3>
            <input type="text" name="beds">
            <h3>Address</h3>
            <input type="text" name="address">
            <h3>Profile pic</h3>
            <input id="file" type="file" name="profilepic">
            <h3>Treatments</h3>
            <input type="text" name="treatments">
            <button type="submit">submit</button>
           </form> 
            
        </div>
        
  <script>
    var input = document.querySelector('input[name=speciality]');
    var input2 = document.querySelector('input[name=treatments]');
   


    var tagify = new Tagify(input, {
  originalInputValueFormat: valuesArr => valuesArr.map(item => item.value).join(',')
});
    var tagify2= new Tagify(input2, {
  originalInputValueFormat: valuesArr2 => valuesArr2.map(item => item.value).join(',')
});


  </script>
     

    
    </section>
   
    
    
    
    
    
    
    
    
    
    <%-include('footer.ejs') %>
    
    </body>
    
    </html>