
<head>
    <link rel="stylesheet" href="reset.css">
    <link rel="stylesheet" href="theme.css">
    <link rel="stylesheet" href="style.css">
    <link rel="stylesheet" href="contactus.css">

    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.7.0/css/all.css" integrity="sha384-lZN37f5QGtY3VHgisS14W3ExzMWZxybE1SJSEsQp9S+oqd12jhcu+A56Ebc1zFSJ" crossorigin="anonymous">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <meta name="viewport" content="width=device-width, initial-scale=1">



</head>
<%-include('header.ejs') %>


<div class="overlay-contact-section">
    <h1>Contact Us</h1>
    <h5>Home / Contact Us</h5>
</div>

<section>
    <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d34080.98530005752!2d77.36441132132306!3d28.522867456711896!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x390ce5a43173357b%3A0x37ffce30c87cc03f!2sNoida%2C%20Uttar%20Pradesh!5e0!3m2!1sen!2sin!4v1598514987913!5m2!1sen!2sin"></iframe>
</section>


<div class="mapandfeedback">
<section class="mapinfo">
        <div class="icon">
            <i class="fa fa-home"></i>
            <div class="iconinfo">
                <h4>Noida, India</h4>
                <p>Sector 45</p>
            </div>
        </div>
        <div class="icon">
            <i class="fa fa-phone"></i>
            <div class="iconinfo">
                <h4>00(440)958785</h4>
                <p>Mon to Fri 6am to 9pm</p>
            </div>
        </div>
        <div class="icon">
            <i class="fa fa-home"></i>
            <div class="iconinfo">
                <h4>Support@tvastra.com</h4>
                <p>Send us your query anytime</p>
            </div>
        </div>
      
</section>

<section class="feedback">
    <div class="feedbackinput">
    <input type="text" placeholder="Enter your name">
    <input type="text" placeholder="Enter yout email">
    <input type="text" placeholder="Enter subject">
    </div>
    <div>
    <textarea>enter text</textarea>
    <button type="submit">Send message</button>
    </div>
</section>
</div>













<%-include('footer.ejs') %>

