
<aside id="aside" class="hide">
    <ul>
        <span id="head"><i class="fa fa-angle-double-right"></i> <h6>Dashboard</h6></span>

        <a href="/myprofile"><li><i class="fas fa-file-alt"></i><span>Profile</span></li></a>
        <a href="/myappointments"><li><i class="fas fa-file-alt"></i><span>Appointments</span></li></a>
        <a href="/medicalrecords"><li><i class="fas fa-file-alt"></i><span>Medical REports</span></li></a>
        <%if(isdoctor==true){%>
            <a href="/editschedule"><li><i class="fas fa-file-alt"></i><span>Add Schedule</span></li></a>
        <%}%>
        <a href="/settings"><li><i class="fas fa-file-alt"></i><span>Setting</span></li></a>
        <span id="last-span" onclick="showaside()"><i class="fa fa-angle-double-left"></i> <h6>Collapse dashboard</h6></span>
    </ul>
</aside>