
<head>
    <link rel="stylesheet" href="reset.css">
    <link rel="stylesheet" href="theme.css">
    <link rel="stylesheet" href="style.css">
    <link rel="stylesheet" href="dentistry.css">

    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.7.0/css/all.css" integrity="sha384-lZN37f5QGtY3VHgisS14W3ExzMWZxybE1SJSEsQp9S+oqd12jhcu+A56Ebc1zFSJ" crossorigin="anonymous">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <meta name="viewport" content="width=device-width, initial-scale=1">



</head>
<%-include('header.ejs') %>

    <div class="overlay-section">
        <div class="container">
        <h1>Dentistry</h1>
        <h5>Home/dentistry</h5>
    </div>
    </div>

<div class="container">
  <div class="vaccination-service-wrap"> 
    <div>
    <section class="vaccination">
        <h2>Vaccination</h2>
        <div>
        <div class="vaccination-image">
            <img src="https://s3.ap-south-1.amazonaws.com/appdev.konfinity.com/css/tasks/dentist.jpg">
        </div>
        <div class="about-dentist-department">
            <h4>About Dentist Department</h4>
            <p>
                The vaccination of dentists against various vaccine-preventable infections is the most important measure of primary prevention against such diseases which would otherwise
                prove fatal for both the dentists and their patients
            </p>
            <ul>
                <li>CF related Diabetes</li>
                <li>CF related Diabetes</li>
                <li>CF related Diabetes</li>
                <li>CF related Diabetes</li>
            </ul>
        </div>

    </div>
        

    </section>

    <section class="symbols">
            <div>
                <i class="fas fa-stethoscope"></i>
                <h5>Central Nervous System</h5>
                <p>Open visitation with only two visitors in a room at any time.No onr under 12 year of age may.</p>
            </div>
            <div>
                <i class="fas fa-stethoscope"></i>
                <h5>Central Nervous System</h5>
                <p>Open visitation with only two visitors in a room at any time.No onr under 12 year of age may.</p>
            </div>
            <div>
                <i class="fas fa-stethoscope"></i>
                <h5>Central Nervous System</h5>
                <p>Open visitation with only two visitors in a room at any time.No onr under 12 year of age may.</p>
            </div>
    
    </section>
</div>

    <section class="serviceandschedule">
            <div>
                <h5>Service Details</h5>
                <ul>
                    <li>abc <span>def</span></li>
                    <li>abc <span>def</span></li>
                    <li>abc <span>def</span></li>
                    <li>abc <span>def</span></li>
                </ul>
    
            </div>
            <div>
                <h5>Service Details</h5>
                <ul>
                    <li>abc <span>def</span></li>
                    <li>abc <span>def</span></li>
                </ul>
            </div>
        
    </section>

</div> 
</div>
    <section class="More-services">
        <div class="container">
        <div class="headandicon">
        <h2>More Services</h2>
        <div class="leftrighticon"><i class="fa fa-angle-left"></i> <i class="fa fa-angle-right"></i></div>
        </div>
        <div class="wrap-services">
            <div class="service">
                <div class="service-image-wrapper">
                <img src="https://s3.ap-south-1.amazonaws.com/appdev.konfinity.com/css/tasks/image--008.jpg" >
                </div>
                <div class="service-heading">
                    <h3>Orthopedic Surgery</h3>
                </div>
            </div>
            <div class="service">
                <div class="service-image-wrapper">
                <img src="https://s3.ap-south-1.amazonaws.com/appdev.konfinity.com/css/tasks/image--008.jpg" >
                </div>
                <div class="service-heading">
                    <h3>Cancer</h3>
                </div>
            </div>
            <div class="service">
                <div class="service-image-wrapper">
                <img src="https://s3.ap-south-1.amazonaws.com/appdev.konfinity.com/css/tasks/image--008.jpg" >
                </div>
                <div class="service-heading">
                    <h3>Cardiology</h3>
                </div>
            </div>
        </div>
    </div>
    </section>
    




   


   

    <%-include('footer.ejs') %>
