<html>

    <head>
        <link rel="stylesheet" href="reset.css">
        <link rel="stylesheet" href="theme.css">
        <link rel="stylesheet" href="style.css">
        <link rel="stylesheet" href="doctor.css">
        <link rel="stylesheet" href="contactus.css">

        <link rel="stylesheet" href="doctorsprofile.css">
        <link rel="stylesheet" href="faq.css">


    
        <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.7.0/css/all.css" integrity="sha384-lZN37f5QGtY3VHgisS14W3ExzMWZxybE1SJSEsQp9S+oqd12jhcu+A56Ebc1zFSJ" crossorigin="anonymous">
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    
        <meta name="viewport" content="width=device-width, initial-scale=1">
    
    
    </head>
    <%-include('header.ejs') %>


<div class="overlay-contact-section">
    <h1>FAQ</h1>
    <h5>Home / FAQ</h5>
</div>


<section class="doctorsprofile">
<div class="profilecard">
    <div class="info">
        <div class="doctor-info">
            <ul>
                <li>How do i make payments?<span><i class="fas fa-angle-down"></i></span></li>
                <p>Loren ipsum dolor sit amet. consectetur adipisicing elit. illo rationeasperiores voluptates avel eos laboriosam,, distinctio sed dolorem, saepe repellendus incidunt. veritatis modi hurun unde officiis, placeatblandtiits</p>
                <li>There is not enough money in my Portea Wallet for making a payment. What do i do?<span><i class="fas fa-angle-down"></i></span></li>
                <li>Can i transfer balance in Portea wallet balance to another user?<span><i class="fas fa-angle-down"></i></span></li>
                <li>Is Portea money same as Portea Wallet?<span><i class="fas fa-angle-down"></i></span></li>
                <li>Refund<span><i class="fas fa-angle-down"></i></span></li>
                <li>What is Family ID?<span><i class="fas fa-angle-down"></i></span></li>
                <li>Who can be added as Family?<span><i class="fas fa-angle-down"></i></span></li>


            </ul>
        </div>
    </div>
</div>

</section>




<section class="Need-help">
    <div>
    <h2>Need Help?</h2>
    <p>Just let us know, we will be happy to assist you</p>
    </div>
    <button>Submit your enquiry</button>
</section>






<%-include('footer.ejs') %>


</body>
</html>
