<html lang="en">
<html>
  <head>
    <link rel="stylesheet" href="reset.css">
    <link rel="stylesheet" href="theme.css">
    <link rel="stylesheet" href="style.css">
    <link rel="stylesheet" href="login.css">
    <link rel="stylesheet" href="signup.css">
    <link rel="stylesheet" href="feedback.css">

  
  
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.7.0/css/all.css" integrity="sha384-lZN37f5QGtY3VHgisS14W3ExzMWZxybE1SJSEsQp9S+oqd12jhcu+A56Ebc1zFSJ" crossorigin="anonymous">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <meta name="viewport" content="width=device-width, initial-scale=1">
  
  
  
  </head>
  <body>
    
  
    <%-include('header.ejs') %>




      <section class="loginsection">
        <div class="login">
          <h3>Submit your query</h3>
    
    
          <form class="loginform">
            <input type="text" placeholder="Enter Name">
            <input type="text" placeholder="Enter phone number">
            <input type="text"  placeholder="Enter Email">
    
            <textarea> Write your query here</textarea>
    
            <button type="submit">S U B M I T<i class="fa fa-arrow-right"></i></button>
          </form>
        </div>
    </section>

    <footer>
      <section>
     <p>All Rights Reserved. <i class="fa fa-copyright"></i> tvastra 2018</p>
    </section>
    </footer>
    </body>
    