<footer>
    <section class="mobile-footer">

        <img src="Logo-removebg-preview.png">
        <ul>
            <a href="/doctor"><li>Doctor</li></a>
            <a href="/hospital"><li>Hospital</li></a>
            <a href="/dentistry"><li>Treatment</li></a>
            <li>Other Services</li>
            <li>FAQs</li>
            <li><i class="fa fa-facebook"></i><i class="fa fa-pinterest"></i><i class="fa fa-twitter"></i><i class="fa fa-google"></i><i class="fa fa-instagram"></i></li>
            <li id="copyright">All Rights Reserved. <i class="fa fa-copyright"></i> tvastra 2018</li>
        </ul>
    </section>

    
    <section class="tab-footer-section">
        <div class="container tab-footer">
        <div class="footer-div-1">
            <ul>
                <a href="/doctor"><li>Doctor</li></a>
                <a href="/hospital"><li>Hospital</li></a>
                <a href="/dentistry"><li>Treatment</li></a>
                <li>Other Services</li>
                <li>FAQs</li>
            </ul>
            
                <p> All Rights Reserved. <i class="fa fa-copyright"></i> tvastra 2020</p>
            
        </div>
        <div class="footer-div-2">
            
            <img src="Logo-removebg-preview.png">

            <ul>
                <li><i class="fa fa-facebook"></i><i class="fa fa-pinterest"></i><i class="fa fa-twitter"></i><i class="fa fa-google"></i><i class="fa fa-instagram"></i></li>

            </ul>
        </div>
    </div>
    </section>

</footer>