<header>
    <div class="container">


        <nav class="mobile-nav">
            <figure>
                <img onclick="window.location.href='/home'"
                    src="https://s3.ap-south-1.amazonaws.com/appdev.konfinity.com/css/tasks/Logo.jpg" />
            </figure>
            <div>
                <% if(loggedin==true) {%>
                    <a href="/myprofile">
                        <figure>
                            <img id="headerpic" src=<%=profilepic%>>
                        </figure>
                    </a>
                    <%}%>
                        <i onclick="showlist()" class="fas fa-bars"></i>
            </div>

           
        </nav>
        <div class="toaster-mobile" id="navlist" style="display: none;">
            <ul>
                <a href="/doctor"><li>My Appointments</li></a>
                <a href=""><li>Hospital</li></a>
                <a href=""><li>Treatments</li></a>
                <a href=""><li>About Us</li></a>
                <a href="/logout"><li>Logout</li></a>
            </ul>
        </div>


        <nav class="desktop-nav">
            <figure>
                <img onclick="window.location.href='/home'"
                    src="https://s3.ap-south-1.amazonaws.com/appdev.konfinity.com/css/tasks/Logo.jpg" />
            </figure>
            <ul>
                <a href="/doctor">
                    <li>Doctor</li>
                </a>
                <li>Hospital</li>
                <li id="treatment" class="toaster">Treatments
                    <ul class="dropdown">
                        <li>Dentistry</li>
                        <li>Cancer</li>
                        <li>Multi Organ Transplant</li>
                        <li>Orthopedics Surgery</li>
                        <li>Infertility Treatment</li>
                    </ul>
                </li>
                <li>About</li>
            </ul>
            <div id="button-div">
                <button class="accentButton">Tvastra Plus</button>
                <button class="filledButton">Get a quote</button>
                <button id="username" class="linkButton">
                    <%= username%>
                        <div class="toaster">
                            <div>
                                <a href="/myprofile">
                                    <figure>
                                        <img id="headerpic" src=<%=profilepic%>>
                                    </figure>
                                </a>
                                <h5>
                                    <%= username%>
                                </h5>
                            </div>
                            <ul>
                                <a href="/myappointments"><li>My Appointments</li></a>
                                <a href="/medicalrecords"><li>Medicl Records</li></a>
                                <a href="/settings"><li>Settings</li></a>
                                <li>My payments</li>
                                <a href="/logout"><li>Logout</li></a>
                            </ul>
                        </div>
                </button>
            </div>
        </nav>
    </div>
</header>
<script>
      function showlist(){
        var x = document.getElementById("navlist");
        console.log(x);
        if (x.style.display === "none") {
        x.style.display = "block";
      } else {
        x.style.display = "none";
      }
    }
</script>