

<html>
    <head>
        <link rel="stylesheet" href="reset.css">
        <link rel="stylesheet" href="theme.css">
        <link rel="stylesheet" href="style.css">
        <link rel="stylesheet" href="myappointments.css">
    
        <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.7.0/css/all.css" integrity="sha384-lZN37f5QGtY3VHgisS14W3ExzMWZxybE1SJSEsQp9S+oqd12jhcu+A56Ebc1zFSJ" crossorigin="anonymous">
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    
        <meta name="viewport" content="width=device-width, initial-scale=1">
    
    </head>
    <style>
        #setting{
            color:rgb(22, 125, 221);
            font-family: BoldFont;

        }
    </style>
    <body>
        
    
        <%-include('header.ejs') %>

    
    <section>
        <div class="container appointments">
        <%-include('dashboard.ejs') %>
        <div class="record-flex">
        <form class="medical-record-form" action="">
        <div class="medical-record">
           <h2>Account settings</h2>
           <button type="submit">Change password</button>
        </div>
        
    </form>
    <div class="currentpassword">
        <h3>Current password</h3>
        <input type="text">
    </div>
    <div class="newconfirmpassword">
        <div>
        <h3>New password</h3>
        <input type="text">
        </div>
        <div>
        <h3>Confirm password</h3>
        <input type="text">
    </div>
    </div>
    
    </div>
</div>
    </section>
   
    
    
    
    
    
    
    
    
    
    <%-include('footer.ejs') %>

    
    </body>
    
    </html>